.range-slider
  h3 range slider
  p 5 000₽ - 10 000₽
  .range-slider__guide
  .range-slider__illumination
  .range-slider__circle-left
  .range-slider__circle-right

.buttons
  h3 buttons 
  a.buttons__a1(href="#") 
  p.buttons__p1 click me

  a.buttons__a2(href="#") 
  p.buttons__p2 click me

  a.buttons__a3(href="#") 
  p.buttons__p3 click me

  a.buttons__a4(href="#") 
  p.buttons__p4 click me
  
  a.buttons__a5(href="#") click me
  a.buttons__a6(href="#") click me 
a.buttons__payment(href="#") 
p.buttons__payment-p перейти к оплате
.buttons__payment-arrow-forward.material-icons-outlined arrow_forward

.pagination 
  h3 pagination 
  .pagination__one
    p 1 
  .pagination__two.range 
    p 2
  .pagination__three.range
    p 3
  .pagination__four.range 
    p ...
  .pagination__five.range
    p 15
  .pagination__six 
  .pagination__seven.material-icons-outlined arrow_forward 
  p  1 – 12 из 100+ вариантов аренды