.range-slider
  h2 range slider
  p.range-slider__p 5 000₽ - 10 000₽
  .range-slider__guide
  .range-slider__illumination
  .range-slider__circle-left
  .range-slider__circle-right

.buttons
  h2 buttons 
  a.buttons__a1(href="#") 
    p click me
  a.buttons__a2(href="#") 
    p click me
  a.buttons__a3(href="#") 
    p click me
  a.buttons__a4(href="#") 
  p click me
  a.buttons__a5(href="#") 
    p click me
  a.buttons__a6(href="#")
    p click me 
a.buttons-payment(href="#")
  p перейти к оплате
  .buttons-payment__img
.pagination 
  h2 pagination 
  .pagination__one
    p 1 
  .pagination__two.range 
    p 2
  .pagination__three.range
    p 3
  .pagination__four.range 
    p ...
  .pagination__five.range
    p 15
  .pagination__six 
  .pagination__seven  
  p  1 – 12 из 100+ вариантов аренды