.dropdown-default
  h2 dropdown 
  span default
  input.dropdown-default__input(type="text" placeholder='2 спальни, 2 кровати...')
  .dropdown-default__img
    
.dropdown-expanded  
  h2 dropdown 
  span.dropdown__span expanded
  input.dropdown-expanded__input(type="text" placeholder='2 спальни, 2 кровати...')
  .dropdown-expanded__img  
  .dropdown-expanded__form
    