.dropdown-default
  h2 dropdown 
  span.text-field__span default
  input.dropdown-default__input(type="text" placeholder='2 спальни, 2 кровати...')
  .dropdown-default__img
    
.dropdown-expanded  
  h2 dropdown 
  span.text-field__span expanded
  input.dropdown-expanded__input(type="text" placeholder='2 спальни, 2 кровати...')
  .dropdown-expanded__img  
  .dropdown-expanded__form
    p.dropdown__p.first спальни 
    p.dropdown__p кровати 
    p.dropdown__p ванные комнаты
    .dropdown__circle-plus1
      p.dropdown-p__plus +
    .dropdown__circle-plus2
      p.dropdown-p__plus +
    .dropdown__circle-plus3 
      p.dropdown-p__plus +
    .dropdown__circle-minus1
      p.dropdown-p__minus -
    .dropdown__circle-minus2
      p.dropdown-p__minus -
    .dropdown__circle-minus3
      p.dropdown-p__minus.last -

.checkbox-list__default 
  h2 expandable checkbox list
  .checkbox-list__img 

.checkbox-list__expanded 
  h2 expandable checkbox list
  .checkbox-list__img
  .checkbox-block
    label
      input.checkbox-block__input(type="checkbox")
      .checkbox-list__div
      | Завтрак  
    label
      input.checkbox-block__input(type="checkbox" checked='')
      .checkbox-list__div
      | Письменный стол
    label
      input.checkbox-block__input(type="checkbox" checked='')
      .checkbox-list__div
      | Стул для кормления
    label
      input.checkbox-block__input(type="checkbox" checked='')
      .checkbox-list__div
      | Кроватка
    label
      input.checkbox-block__input(type="checkbox")
      .checkbox-list__div
      | Телевизор
    label
      input.checkbox-block__input(type="checkbox")
      .checkbox-list__div 
      | Шампунь 

.dropdown-gast__empty 
  h2 dropdown 
  input.dropdown-gast-empty__input(type="text" placeholder='Сколко гостей')
  .dropdown-gast-empty__img
  .dropdown-gast-empty__form
    p.dropdown__p.first взрослые 
    p.dropdown__p дети
    p.dropdown__p младенцы
    .dropdown__circle-plus1
      p.dropdown-p__plus +
    .dropdown__circle-plus2
      p.dropdown-p__plus +
    .dropdown__circle-plus3 
      p.dropdown-p__plus +
    .adults 0
    .children 0
    .babies 0
    .dropdown__circle-minus1
      p.dropdown-p__minus.last -
    .dropdown__circle-minus2
      p.dropdown-p__minus.last -
    .dropdown__circle-minus3
      p.dropdown-p__minus.last -

    a.dropdown__link2(href="#") применить

.dropdown-gast__filled-in
  h2 dropdown 
  input.dropdown-gast-filled-in__input(type="text" placeholder='3 гостя')
  .dropdown-gast-filled-in__img
  .dropdown-gast-filled-in__form
    p.dropdown__p.first взрослые 
    p.dropdown__p дети
    p.dropdown__p младенцы
    .dropdown__circle-plus1
      p.dropdown-p__plus +
    .dropdown__circle-plus2
      p.dropdown-p__plus +
    .dropdown__circle-plus3 
      p.dropdown-p__plus +
    .adults 2
    .children 1
    .babies 0
    .dropdown__circle-minus1
      p.dropdown-p__minus -
    .dropdown__circle-minus2
      p.dropdown-p__minus -
    .dropdown__circle-minus3
      p.dropdown-p__minus.last -

    a.dropdown__link1(href="#") очистить
    a.dropdown__link2(href="#") применить

.bullet-list
  h2 bullet list
  ul.bullet-list__ul 
    li Нельзя с питомцами
    li Без вечеринок
    li Время прибытия - после 13:00, а выезд до 12:00
  .circle1
  .circle2
  .circle3