label.label-input__email text field 
  span default
  input.input__email(type="email" placeholder='email')
  
input.input__text(type="text" placeholder="This is pretty awesome")
input.input__dropdown(type="text" placeholder='Сколько гостей')
input.input__masked(type="date")
input.input-dropdown__arrivale-date1(type="date")
input.input-dropdown__departure-date(type="date")
input.input__filter-date(type="date")
input.input__subscription(type='text' placeholder='email')
