.text-field__default 
  h2 text field 
  span default
  input.input__default(type="email" placeholder='Email')
.text-field__hover-focus 
  h2 text field 
  span hover / focus  
  input.input__hover-focus(type="text" placeholder="This is pretty awesome")
.dropdown 
  h2 dropdown
  input.input__dropdown(type="text" placeholder='Сколько гостей')
  .input-dropdown__img
    img(src="img/expand_more.svg", alt="expand_more")
.masked-text-field 
  h2 masked text field
  input.input__masked(type="text" placeholder="дд.мм.гггг")
.arrivale-date 
  h2 date dropdown
  input.input__arrivale-date(type="text" placeholder="дд.мм.гггг")
  .input-arrivale-date__img
    img(src="img/expand_more.svg", alt="expand_more")
.departure-date 
  h2 date dropdown
  input.input__departure-date(type="text" placeholder="19.08.2019")
  .input-departure-date__img
    img(src="img/expand_more.svg", alt="expand_more")
.filter-date 
  h2 filter date dropdown
  input.input__filter-date(type="text" placeholder="19 авг - 23 авг")
  .fliter-date__img
    img(src="img/expand_more.svg", alt="expand_more")
.subscription 
  h2 subscription text field
  input.input__subscription(type='text' placeholder='Email')
  .subscription__img
    img(src="img/arrow_forward.svg", alt="arrow_forward")
