.advantages
  .advantages__face.material-icons-outlined.fa-gradient mood     
  .advantages-face__comfort
    p.advantages-face__bold Комфорт
    p.advantages-face__normal Шумопоглощающие стены
    .advantages-face__line
  
  .advantages__city.material-icons-outlined.fa-gradient location_city
  .advantages-city__convenience
    p.advantages-city__bold Удобство
    p.advantages-city__normal Окно в каждой из спален
    .advantages-city__line
.reviews 
  .block
  img.reviews__img(src='../img/men.svg')
  .reviews__like-button
    label.like-button__labbel2
      input(type="checkbox" class="like-button__input2" checked='')
      .like-button__checked
        .like-button-checked__favorite
        p.like-button__p2 12

  .reviews__user
    p.reviews-user__name Мурад Сарафанов 
    p.reviews-user__time 5 дней назад
  
  p.reviews__content Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.


  