@charset "UTF-8";
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.eot");
  src: local("☺"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Bold.eot");
  src: local("☺"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Italic.eot");
  src: local("☺"), url("../fonts/Montserrat-Italic.woff") format("woff"), url("../fonts/Montserrat-Italic.ttf") format("truetype"), url("../fonts/Montserrat-Italic.svg") format("svg");
  font-weight: normal;
  font-style: italic;
}

/*миксин текста копирайта*/
/*миксин заголовков h2*/
/* миксин свойства заголовков*/
/* маркер */
/*миксин кнопок дропдауна +*/
/*миксин кнопок дропдауна -*/
/*миксин блока навигации/регистрации/футера/копирайта*/
/*миксин кнопок*/
/*миксин маленьких кнопок*/
/*свойства пунктов меню*/
/* дни недели */
/* счётчики */
/* свойства изображения expand more*/
/*миксин для placeholder*/
/* общие свойства для input w 318*/
/* общие свойства для input w 266*/
/*миксин свойст для полей w 150*/
/*сердце*/
/*счётчик лайков*/
/*миксин параграф*/
/*mixin для рамки checkbox*/
/*шарики*/
/*звёзды*/
/*миксин карточек*/
/*миксин свойств вложенных блоков*/
/*миксин для правой стрелки*/
/* миксин свойств для оформления текста в кнопке*/
/*миксин заголовка h3 */
/*миксин свойства формы*/
/*миксин свойств контента блоков*/
.account-registration {
  position: absolute;
  width: 380px;
  height: 646px;
  left: 533px;
  top: 89px;
  position: absolute;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border-radius: 4px;
  z-index: 5;
}

.account-registration > h1 {
  position: absolute;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  color: #1f2041;
  font-size: 24px;
  line-height: 29px;
  width: 320px;
  height: 30px;
  top: 40px;
  left: 30px;
}

.account-registration__input-name {
  width: 320px;
  height: 42px;
  position: absolute;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  padding-left: 15px;
  left: 30px;
  top: 90px;
}

.account-registration__input-lastname {
  width: 320px;
  height: 42px;
  position: absolute;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  padding-left: 15px;
  left: 30px;
  top: 144px;
}

/* Checkbox*/
.account-registration__checkbox {
  position: absolute;
  top: 456px;
  left: 30px;
}

.account-registration-checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.account-registration-checkbox__custom {
  position: absolute;
  width: 40px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
}

/* :checked*/
.account-registration-checkbox__input:checked
~ .account-registration-checkbox__custom {
  border: 1px solid #bc9cff;
}

.account-registration-checkbox__input:checked
~ .account-registration-checkbox__custom::before {
  position: absolute;
  top: 3px;
  left: 22px;
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* ::before*/
.account-registration-checkbox__custom::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  left: 4px;
  top: 3px;
  background-color: rgba(31, 32, 65, 0.25);
  border-radius: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* Спецпредложения*/
.account-registration__checkbox > p {
  width: 210px;
  height: 24px;
  left: 50px;
  top: -2px;
  position: absolute;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

/*заголовок поля дата рождения*/
.account-registration__header-date-of-birth {
  width: 118px;
  height: 15px;
  left: 30px;
  position: absolute;
  top: 242px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
}

/* свойства поля дата рождения*/
.account-registration__input-date-of-birth {
  width: 320px;
  height: 42px;
  position: absolute;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  padding-left: 15px;
  left: 30px;
  top: 262px;
}

/*заголовок полей параметры входа*/
.account-registration__header-login-details {
  width: 211px;
  height: 15px;
  left: 30px;
  top: 326px;
  position: absolute;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
}

/*поле e-mail*/
.account-registration__input-email {
  width: 320px;
  height: 42px;
  position: absolute;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  padding-left: 15px;
  left: 30px;
  top: 346px;
}

/*поле password*/
.account-registration__input-password {
  width: 320px;
  height: 42px;
  position: absolute;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  padding-left: 15px;
  left: 30px;
  top: 400px;
}

/*свойства подписи*/
.account-registration > p {
  position: absolute;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  width: 186px;
  height: 18px;
  left: 30px;
  top: 584px;
}

/*блок кнопки зарегистрироваться */
.account-registration__button-reg {
  position: absolute;
  top: 498px;
  left: 30px;
  width: 320px;
  height: 44px;
}

.account-registration-button-reg__a {
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(#bc9cff, #8ba4f9);
  border-radius: 22px;
  height: 44px;
  width: 320px;
  text-transform: uppercase;
  text-decoration: none;
  position: absolute;
  width: 320px;
}

/*подпись кнопки зарегистрироваться */
.account-registration-button-reg__p {
  position: absolute;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  color: #bc9cff;
  color: #ffffff;
  position: absolute;
  width: 280px;
  height: 15px;
  left: 20px;
  top: 14px;
  text-align: center;
}

.account-registration-button-reg {
  position: absolute;
  width: 44px;
  height: 44px;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(31, 32, 65, 0.5);
  cursor: pointer;
  color: #ffffff;
  left: 276px;
}

/*блок кнопки войти*/
.account-registration__button-to-come-in {
  width: 99px;
  height: 44px;
  position: absolute;
  left: 251px;
  top: 572px;
}

/* кнопка войти */
.account-registration-button-to-come-in__a {
  width: 99px;
  position: absolute;
  width: 95px;
  height: 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff)) padding-box, -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9)) border-box;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(#bc9cff, #8ba4f9) border-box;
  border: 2px solid transparent;
  border-radius: 22px;
  text-transform: uppercase;
  text-decoration: none;
  color: #bc9cff;
}

.account-registration-button-to-come-in__p {
  position: absolute;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  color: #bc9cff;
  position: absolute;
  left: 26px;
  top: 14px;
  width: 47px;
  height: 15px;
  cursor: pointer;
}

/* hover для кнопок */
.account-registration__button-to-come-in:hover
.account-registration-button-to-come-in__a {
  opacity: 0.5;
}

.account-registration__button-reg:hover .account-registration-button-reg__a {
  opacity: 0.5;
}

.account-registration__input-email::-webkit-input-placeholder {
  height: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  width: 40px;
}

.account-registration__input-email:-ms-input-placeholder {
  height: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  width: 40px;
}

.account-registration__input-email::-ms-input-placeholder {
  height: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  width: 40px;
}

.account-registration__input-email::placeholder {
  height: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  width: 40px;
}

.account-registration__input-password::-webkit-input-placeholder {
  height: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  width: 55px;
}

.account-registration__input-password:-ms-input-placeholder {
  height: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  width: 55px;
}

.account-registration__input-password::-ms-input-placeholder {
  height: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  width: 55px;
}

.account-registration__input-password::placeholder {
  height: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  width: 55px;
}

.account-registration__input-name::-webkit-input-placeholder {
  height: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  width: 32px;
}

.account-registration__input-name:-ms-input-placeholder {
  height: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  width: 32px;
}

.account-registration__input-name::-ms-input-placeholder {
  height: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  width: 32px;
}

.account-registration__input-name::placeholder {
  height: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  width: 32px;
}

.account-registration__input-lastname::-webkit-input-placeholder {
  height: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  width: 69px;
}

.account-registration__input-lastname:-ms-input-placeholder {
  height: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  width: 69px;
}

.account-registration__input-lastname::-ms-input-placeholder {
  height: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  width: 69px;
}

.account-registration__input-lastname::placeholder {
  height: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  width: 69px;
}

.account-registration__input-date-of-birth::-webkit-input-placeholder {
  height: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  width: 69px;
}

.account-registration__input-date-of-birth:-ms-input-placeholder {
  height: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  width: 69px;
}

.account-registration__input-date-of-birth::-ms-input-placeholder {
  height: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  width: 69px;
}

.account-registration__input-date-of-birth::placeholder {
  height: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  width: 69px;
}

/*радио кнопки*/
/*позиционирование блока кнопок*/
.account-registration__radio {
  position: absolute;
  top: 198px;
  left: 30px;
}

/*скрываем кнопки браузера*/
.account-registration-radio-label-men__input,
.account-registration-radio-label-women__input {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*свойства label*/
.account-registration-radio__label-men {
  position: absolute;
  width: 68px;
  height: 24px;
  left: 26px;
  top: -5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.account-registration-radio__label-women {
  position: absolute;
  left: 148px;
  width: 72px;
  height: 24px;
  top: -5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

/*кастомные радио кнопки*/
.account-registration-radio-label-men__custom {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 3px;
  left: -29px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 0 1px rgba(31, 32, 65, 0.25);
          box-shadow: 0 0 0 1px rgba(31, 32, 65, 0.25);
}

.account-registration-radio-label-women__custom {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 3px;
  left: -32px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 0 1px rgba(31, 32, 65, 0.25);
          box-shadow: 0 0 0 1px rgba(31, 32, 65, 0.25);
}

/*событие checked для кнопки*/
.account-registration-radio-label-men__input:checked
+ .account-registration-radio-label-men__custom::before,
.account-registration-radio-label-women__input:checked
+ .account-registration-radio-label-women__custom::before {
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}

/*событие checked для обводки*/
.account-registration-radio-label-men__input:checked
+ .account-registration-radio-label-men__custom,
.account-registration-radio-label-women__input:checked
+ .account-registration-radio-label-women__custom {
  -webkit-box-shadow: 0 0 0 1px #bc9cff;
          box-shadow: 0 0 0 1px #bc9cff;
}

/*свойства псевдоэлемента*/
.account-registration-radio-label-women__custom::before,
.account-registration-radio-label-men__custom::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  left: 4px;
  top: 4px;
  background-color: white;
  border-radius: 10px;
}
/*# sourceMappingURL=account_registration.css.map */