@import "../mixins.scss";

// Форма account_registration

.account-registration {
  position: absolute;
  width: 380px;
  height: 646px;
  left: 533px;
  top: 89px;
  @include form;
  border-radius: 4px;
  z-index: 5;
}

.account-registration > h1 {
  @include headers;
  width: 320px;
  height: 30px;
  top: 40px;
  left: 30px;
}

.account-registration__input-name {
  @include input-max;
  left: 30px;
  top: 90px;
}

.account-registration__input-lastname {
  @include input-max;
  left: 30px;
  top: 144px;
}

/* Checkbox*/

.account-registration__checkbox {
  position: absolute;
  top: 456px;
  left: 30px;
}

.account-registration-checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.account-registration-checkbox__custom {
  position: absolute;
  width: 40px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
}

/* :checked*/

.account-registration-checkbox__input:checked
  ~ .account-registration-checkbox__custom {
  border: 1px solid #bc9cff;
}

.account-registration-checkbox__input:checked
  ~ .account-registration-checkbox__custom::before {
  position: absolute;
  top: 3px;
  left: 22px;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  transition: 0.4s;
}

/* ::before*/

.account-registration-checkbox__custom::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  left: 4px;
  top: 3px;
  background-color: rgba(31, 32, 65, 0.25);
  border-radius: 10px;
  transition: 0.4s;
}

/* Спецпредложения*/
.account-registration__checkbox > p {
  width: 210px;
  height: 24px;
  left: 50px;
  top: -2px;
  @include paragraf;
}

/*заголовок поля дата рождения*/

.account-registration__header-date-of-birth {
  width: 118px;
  height: 15px;
  left: 30px;
  position: absolute;
  top: 242px;
  @include headers3;
}

/* свойства поля дата рождения*/

.account-registration__input-date-of-birth {
  @include input-max;
  left: 30px;
  top: 262px;
}

/*заголовок полей параметры входа*/

.account-registration__header-login-details {
  width: 211px;
  height: 15px;
  left: 30px;
  top: 326px;
  position: absolute;
  @include headers3;
}

/*поле e-mail*/

.account-registration__input-email {
  @include input-max;
  left: 30px;
  top: 346px;
}

/*поле password*/
.account-registration__input-password {
  @include input-max;
  left: 30px;
  top: 400px;
}

/*свойства подписи*/
.account-registration > p {
  @include paragraf2;
  width: 186px;
  height: 18px;
  left: 30px;
  top: 584px;
}

/*блок кнопки зарегистрироваться */
.account-registration__button-reg {
  position: absolute;
  top: 498px;
  left: 30px;
  width: 320px;
  height: 44px;
 
}

.account-registration-button-reg__a {
  @include button;
  position: absolute;
  width: 320px;
}

/*подпись кнопки зарегистрироваться */

.account-registration-button-reg__p {
  @include text-link;
  color: #ffffff;
  position: absolute;
  width: 280px;
  height: 15px;
  left: 20px;
  top: 14px;
  text-align: center;

}

.account-registration-button-reg{
  @include expand-more;
  color: #ffffff;
  left: 276px;
}

/*блок кнопки войти*/

.account-registration__button-to-come-in {
  width: 99px;
  height: 44px;
  position: absolute;
  left: 251px;
  top: 572px;
}

/* кнопка войти */

.account-registration-button-to-come-in__a {
  width: 99px;
  @include button-mini;
}

.account-registration-button-to-come-in__p {
  @include text-link;
  position: absolute;
  left: 26px;
  top: 14px;
  width: 47px;
  height: 15px;
  cursor: pointer;
}

/* hover для кнопок */

.account-registration__button-to-come-in:hover
  .account-registration-button-to-come-in__a {
  opacity: 0.5;
}

.account-registration__button-reg:hover .account-registration-button-reg__a {
  opacity: 0.5;
}


// Свойства placeholder для input

.account-registration__input-email::placeholder {
  @include input-placeholder;
  width: 40px;
}
.account-registration__input-password::placeholder {
  @include input-placeholder;
  width: 55px;
}
.account-registration__input-name::placeholder {
  @include input-placeholder;
  width: 32px;
}
.account-registration__input-lastname::placeholder {
  @include input-placeholder;
  width: 69px;
}

.account-registration__input-date-of-birth::placeholder {
  @include input-placeholder;
  width: 69px;
}

/*радио кнопки*/

/*позиционирование блока кнопок*/
.account-registration__radio {
  position: absolute;
  top: 198px;
  left: 30px;
}

/*скрываем кнопки браузера*/
.account-registration-radio-label-men__input,
.account-registration-radio-label-women__input {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*свойства label*/
.account-registration-radio__label-men {
  position: absolute;
  width: 68px;
  height: 24px;
  left: 26px;
  top: -5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.account-registration-radio__label-women {
  position: absolute;
  left: 148px;
  width: 72px;
  height: 24px;
  top: -5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

/*кастомные радио кнопки*/

.account-registration-radio-label-men__custom {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 3px;
  left: -29px;
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(31, 32, 65, 0.25);
}

.account-registration-radio-label-women__custom {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 3px;
  left: -32px;
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(31, 32, 65, 0.25);
}

/*событие checked для кнопки*/
.account-registration-radio-label-men__input:checked
  + .account-registration-radio-label-men__custom::before,
.account-registration-radio-label-women__input:checked
  + .account-registration-radio-label-women__custom::before {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}
/*событие checked для обводки*/
.account-registration-radio-label-men__input:checked
  + .account-registration-radio-label-men__custom,
.account-registration-radio-label-women__input:checked
  + .account-registration-radio-label-women__custom {
  box-shadow: 0 0 0 1px #bc9cff;
}

/*свойства псевдоэлемента*/

.account-registration-radio-label-women__custom::before,
.account-registration-radio-label-men__custom::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  left: 4px;
  top: 4px;
  background-color: white;
  border-radius: 10px;
}
