extends ../modules/templates/sample
block variables 
  - var titlePage = 'Landing page/Guests dropdown'

block style 
      include ../styles/landing_pages/background.css
      include ../styles/landing_pages/nav-reg.css
      include ../styles/landing_pages/footer.css
      include ../styles/landing_pages/copyright.css 
      include ../styles/landing_pages/search_room_dropdown.css
      include ../styles/headers-footers/icon.css
      include ../styles/landing_pages_guests_dropdown/search-room.css 

block content
  include ../modules/headers-footers/footer
  include ../modules/landing_pages_guests_dropdown/search_room
  include ../modules/headers-footers/nav-reg
  include ../modules/headers-footers/copyright
  include ../modules/landing_pages/background
    