doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Material+Icons') 
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    title Landing page/Guests Dropdown
    style 
      include ../styles/landing_pages/background.css
      include ../styles/landing_pages/nav-reg.css
      include ../styles/landing_pages/footer.css
      include ../styles/landing_pages/copyright.css 
      include ../styles/landing_pages/search_room_dropdown.css
      include ../styles/headers-footers/icon.css
      include ../styles/landing_pages_guests_dropdown/search-room.css 

  body 
    include ../modules/headers-footers/footer
    include ../modules/landing_pages_guests_dropdown/search_room
    include ../modules/headers-footers/nav-reg
    include ../modules/headers-footers/copyright
    include ../modules/landing_pages/background
    