extends ../modules/templates/sample
block variables 
  - var titlePage = 'Registration'
block style 
  include ../styles/registration/background.css
  include ../styles/landing_pages/nav-reg.css
  include ../styles/registration/footer.css
  include ../styles/registration/copyright.css
  include ../styles/registration/account_registration.css
  include ../styles/headers-footers/icon.css

block content
  include ../modules/headers-footers/footer
  include ../modules/cards/account_registration
  include ../modules/headers-footers/nav-reg
  include ../modules/headers-footers/copyright
  include ../modules/registration/background