doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Material+Icons')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css') 
    title Room details
    style 
      include ../styles/landing_pages/nav-reg.css
      include ../styles/room_details/footer.css
      include ../styles/room_details/copyright.css
      include ../styles/headers-footers/icon.css
      include ../styles/room_details/searching-results.css
      include ../styles/room_details/block-content.css
      include ../styles/form-elements/footer.css
      include ../styles/form-elements/buttons/like-button.css
  body 
    include ../modules/headers-footers/footer
    include ../modules/cards/searching_results
    include ../modules/headers-footers/nav-reg
    include ../modules/headers-footers/copyright
    include ../modules/room_details/block_content