extends ../modules/templates/sample
block variables 
  - var titlePage = 'Search room/Filter'
block style 
  include ../styles/landing_pages/nav-reg.css
  include ../styles/search_room_filter/block-content.css
  include ../styles/search_room_filter/copyright.css
  include ../styles/search_room_filter/footer.css
  include ../styles/headers-footers/icon.css
  include ../styles/search_room_filter/numbers.css
  include ../styles/search_room_filter/general-properties-rooms.css
  include ../styles/search_room_filter/pagination.css
  include ../styles/search_room_filter/side-bare.css

block content
  include ../modules/headers-footers/nav-reg
  include ../modules/headers-footers/footer
  include ../modules/headers-footers/copyright
  include ../modules/search_room_filter/block_content