@import '../mixins.scss';

/* блок слайдера*/

.range-slider {
  height: 47px;
  width: 266px;
  left: 979px;
  top: 143px;
  position: absolute;
}

/* подписи слайдера */
.range-slider__p {
  position: absolute;
  top: 0px;
  right: 0px;
  white-space: nowrap;
  width: 102px;
  height: 15px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
}

/*направляющая слайдера*/
.range-slider__guide {
  position: absolute;
  width: 266px;
  height: 6px;
  top: 38.44px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 3px;
}

/* левый ползунок */
.range-slider__circle-left {
  position: absolute;
  width: 12px;
  height: 12px;
  left: 77px;
  top: 34px;
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  border: 2px solid #ffffff;
  border-radius: 10px;
}

/*правый ползунок*/

.range-slider__circle-right {
  position: absolute;
  width: 12px;
  height: 12px;
  left: 162px;
  top: 33px;
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  border: 2px solid #ffffff;
  border-radius: 10px;
}

/*подсветка выбранного диапазона*/

.range-slider__illumination {
  position: absolute;
  width: 88px;
  height: 6px;
  left: 82px;
  top: 38.44px;
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  border-radius: 3px;
}

/*блок кнопок*/
.buttons {
  height: 195px;
  width: 218px;
  left: 979px;
  top: 231px;
  position: absolute;
}
/*кнопка 1*/
.buttons__a1 {
  position: absolute;
  width: 99px;
  height: 44px;
  left: 1px;
  top: 31px;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
}

/*кнопка 2*/
.buttons__a2 {
  position: absolute;
  width: 99px;
  height: 44px;
  left: 119px;
  top: 31px;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  opacity: 0.5;
}

/*кнопка 3*/
.buttons__a3 {
  position: absolute;
  width: 99px;
  height: 44px;
  left: 1px;
  top: 105px;
  border: 2px solid transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-radius: 22px;
}
/*кнопка 4*/
.buttons__a4 {
  position: absolute;
  width: 99px;
  height: 44px;
  left: 119px;
  top: 105px;
  border: 2px solid transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-radius: 22px;
  opacity: 0.5;
}
/*кнопка 5*/
.buttons__a5 {
  position: absolute;
  width: 99px;
  height: 44px;
  left: -17px;
  top: 166px;
}

/*кнопка 6*/
.buttons__a6 {
  position: absolute;
  width: 99px;
  height: 44px;
  left: 62px;
  top: 166px;
}

/*свойства текста кнопки 1*/
.buttons__a1 > p {
  color: #ffffff;
  @include text-link;
}
/*свойства текста кнопки 2*/
.buttons__a2 > p {
  color: #ffffff;
  @include text-link;
}
/*свойства текста кнопки 3*/
.buttons__a3 > p {
  color: #bc9cff;
  @include text-link;
}
/*свойства текста кнопки 5*/
.buttons__a5 > p {
  color: rgba(188, 156, 255, 1);
  @include text-link;
}
/*свойства текста кнопки 6*/
.buttons__a6 > p {
  color: rgba(31, 32, 65, 0.5);
  @include text-link;
}

/*свойства текста кнопки 4*/
.buttons > p {
  color: #bc9cff;
  @include text-link;
  opacity: 1;
  top: 121px;
  left: 139px;
  cursor: pointer;
}

/* кнопка перейти к оплате*/
.buttons-payment {
  height: 44px;
  width: 320px;
  left: 979px;
  top: 456px;
  position: absolute;
  border-radius: 22px;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}

/* свойства текста кнопки*/
.buttons-payment > p {
  @include text-link;
  width: 280px;
  height: 15px;
  left: 20px;
  top: 14px;
}

/*белая стрелка*/
.buttons-payment__img {
  position: absolute;
  width: 44px;
  height: 44px;
  left: 276px;
  top: 0px;
  background-image: url('../img/arrow_forward_weit.svg');
  background-repeat: no-repeat;
  background-position: center;
}

/* блок пагинации*/

.pagination {
  height: 106px;
  width: 241px;
  left: 979px;
  top: 540px;
  position: absolute;
}

/* блок с цифрой 1 */
.pagination__one {
  @include pagination;
  left: 1px;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 50%;
}
/* блок с цифрой 2 */
.pagination__two {
  @include pagination;
  left: 41px;
}
/* блок с цифрой 3 */
.pagination__three {
  @include pagination;
  left: 81px;
}
/* блок с многоточием */
.pagination__four {
  @include pagination;
  left: 121px;
}

/* блок с цифрой 15 */
.pagination__five {
  @include pagination;
  left: 161px;
}

/* свойства последнего подблока*/
.pagination__six {
  @include pagination;
  left: 201px;
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  border-radius: 50%;
}

.pagination__seven {
  height: 24px;
  width: 24px;
  left: 209px;
  top: 39.5px;
  position: absolute;
  background-image: url('../img/arrow_forward_weit.svg');
  background-repeat: no-repeat;
  background-position: center;
}

/*свойства выделенного блока*/
.pagination__one > p {
  @include pagination-p;
  color: #ffffff;
}

/*свойства блоков без выделения */
.range > p {
  @include pagination-p;
  color: rgba(31, 32, 65, 0.5);
}

/* чвойства подписи блока пагинации*/

.pagination > p {
  position: absolute;
  width: 229px;
  height: 24px;
  left: 6px;
  top: 82px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}
