@charset "UTF-8";
/* dropdown default */
.dropdown-default {
  height: 64px;
  width: 266px;
  left: 140px;
  top: 876px;
  position: absolute;
}

.dropdown-default > span {
  left: 209px;
}

.dropdown-default__input {
  position: absolute;
  width: 266px;
  height: 44px;
  top: 20px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  padding-left: 15px;
}

.dropdown-default__img {
  width: 44px;
  height: 44px;
  position: absolute;
  left: 222px;
  top: 20px;
  cursor: pointer;
  background-image: url("img/expand_more.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.dropdown-default__input::-webkit-input-placeholder {
  width: 160px;
  height: 24px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.dropdown-default__input:-ms-input-placeholder {
  width: 160px;
  height: 24px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.dropdown-default__input::-ms-input-placeholder {
  width: 160px;
  height: 24px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.dropdown-default__input::placeholder {
  width: 160px;
  height: 24px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

/*  dropdown-expanded */
.dropdown-expanded {
  position: absolute;
  height: 181.5576171875px;
  width: 266px;
  left: 140px;
  top: 960px;
}

.dropdown-expanded > span {
  left: 196px;
}

.dropdown-expanded__input {
  position: absolute;
  width: 266px;
  height: 44px;
  top: 20px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  padding-left: 15px;
}

.dropdown-expanded__img {
  width: 44px;
  height: 44px;
  position: absolute;
  left: 222px;
  top: 20px;
  cursor: pointer;
  background-image: url("img/expand_more.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.dropdown-expanded__input::-webkit-input-placeholder {
  width: 160px;
  height: 24px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.dropdown-expanded__input:-ms-input-placeholder {
  width: 160px;
  height: 24px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.dropdown-expanded__input::-ms-input-placeholder {
  width: 160px;
  height: 24px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.dropdown-expanded__input::placeholder {
  width: 160px;
  height: 24px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

/* стили формы dropdown */
.dropdown-expanded__form {
  position: absolute;
  width: 266px;
  height: 119px;
  left: 0px;
  top: 64px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-top: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
}

/* кнопки +/- */
.dropdown__circle-plus1 {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 22px;
  cursor: pointer;
  left: 229px;
  top: 7px;
}

.dropdown__circle-plus2 {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 22px;
  cursor: pointer;
  left: 229px;
  top: 44px;
}

.dropdown__circle-plus3 {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 22px;
  cursor: pointer;
  left: 229px;
  top: 82px;
}

.dropdown__circle-minus1 {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 22px;
  left: 167px;
  top: 7px;
}

.dropdown__circle-minus2 {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 22px;
  left: 167px;
  top: 44px;
}

.dropdown__circle-minus3 {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 22px;
  left: 167px;
  top: 82px;
  border: 1px solid rgba(31, 32, 65, 0.25);
}

p.dropdown-p__minus {
  font-family: 'Montserrat';
  text-align: center;
  color: rgba(31, 32, 65, 0.5);
  position: absolute;
  top: 3px;
  left: 11px;
}

p.dropdown-p__plus {
  font-family: 'Montserrat';
  text-align: center;
  color: rgba(31, 32, 65, 0.5);
  position: absolute;
  top: 4px;
  left: 9px;
}

.dropdown__p {
  margin-bottom: 22px;
  margin-left: 15px;
  width: 83px;
  height: 15px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  white-space: nowrap;
  color: #1f2041;
}

.first {
  margin-top: 11px;
}

p.last {
  color: rgba(31, 32, 65, 0.25);
}

/* checkbox list default */
.checkbox-list__default {
  height: 44px;
  width: 266px;
  left: 141px;
  top: 1182px;
  cursor: pointer;
  position: absolute;
}

/* стили заголовка checkbox list default */
.checkbox-list__default > h2 {
  position: absolute;
  top: 14px;
}

/* стили expanded more*/
.checkbox-list__img {
  cursor: pointer;
  width: 44px;
  height: 44px;
  position: absolute;
  top: 0px;
  left: 222px;
  background-image: url("img/expand_more.svg");
  background-position: center;
  background-repeat: no-repeat;
}

/* checkbox list expanded */
.checkbox-list__expanded {
  height: 217px;
  width: 266px;
  left: 140px;
  top: 1246px;
  position: absolute;
}

/* стили заголовка checkbox list expanded */
.checkbox-list__expanded > h2 {
  position: absolute;
  top: 14px;
}

/* стили expanded more expanded*/
.checkbox-list__expanded > .checkbox-list__img {
  cursor: pointer;
  width: 44px;
  height: 44px;
  position: absolute;
  top: 0px;
  left: 222px;
  background-image: url("img/expand_more_expanded.svg");
  background-position: center;
  background-repeat: no-repeat;
}

/* checkbox block */
.checkbox-block {
  height: 171px;
  width: 222px;
  top: 47px;
  position: absolute;
}

/* свойства меток checkbox */
.checkbox-block > label {
  margin-bottom: 12px;
  display: block;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
  padding-left: 30px;
}

/* скрываем стандартные checkbox*/
.checkbox-block__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

/* стили для кастомных checkbox*/
.checkbox-list__div {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

/* checked */
.checkbox-block__input:checked + .checkbox-list__div {
  border: 1px solid #bc9cff;
  background-image: url("img/Vector.png");
  background-repeat: no-repeat;
  background-position: center;
}

/* блок dropdown gast empty*/
.dropdown-gast__empty {
  height: 221px;
  width: 320px;
  left: 587px;
  top: 876px;
  position: absolute;
}

/* свойства текстового поля*/
.dropdown-gast-empty__input {
  position: absolute;
  width: 320px;
  height: 44px;
  top: 20px;
  padding-left: 15px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

/* placeholder */
.dropdown-gast-empty__input::-webkit-input-placeholder {
  width: 112px;
  height: 18px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
}
.dropdown-gast-empty__input:-ms-input-placeholder {
  width: 112px;
  height: 18px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
}
.dropdown-gast-empty__input::-ms-input-placeholder {
  width: 112px;
  height: 18px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
}
.dropdown-gast-empty__input::placeholder {
  width: 112px;
  height: 18px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
}

/* стили expand more*/
.dropdown-gast-empty__img {
  position: absolute;
  width: 44px;
  height: 44px;
  left: 276px;
  top: 20px;
  background-image: url("img/expand_more.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

/* свойства dropdown гости empty*/
.dropdown-gast-empty__form {
  position: absolute;
  width: 320px;
  height: 159px;
  top: 62.56px;
  left: px;
  background: #ffffff;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
          box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

/* кнопки +/- */
.dropdown-gast-empty__form > .dropdown__circle-plus1 {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 22px;
  cursor: pointer;
  left: 283px;
}

.dropdown-gast-empty__form > .dropdown__circle-plus2 {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 22px;
  cursor: pointer;
  left: 283px;
}

.dropdown-gast-empty__form > .dropdown__circle-plus3 {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 22px;
  cursor: pointer;
  left: 283px;
}

.dropdown-gast-empty__form > .dropdown__circle-minus1 {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 22px;
  left: 221px;
  border: 1px solid rgba(31, 32, 65, 0.25);
}

.dropdown-gast-empty__form > .dropdown__circle-minus2 {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 22px;
  left: 221px;
  border: 1px solid rgba(31, 32, 65, 0.25);
}

.dropdown-gast-empty__form > .dropdown__circle-minus3 {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 22px;
  left: 221px;
  border: 1px solid rgba(31, 32, 65, 0.25);
}

/* счётчики */
.adults {
  top: 13px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: #1f2041;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15px;
  width: 92px;
  left: 221px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
}

.children {
  top: 50px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: #1f2041;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15px;
  width: 92px;
  left: 221px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
}

.babies {
  top: 87px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: #1f2041;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15px;
  width: 92px;
  left: 221px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
}

/* свойства dropdown гости filled in*/
.dropdown-gast__filled-in {
  height: 221.5576171875px;
  width: 320px;
  left: 979px;
  top: 876px;
  position: absolute;
}

/* свойства текстового поля*/
.dropdown-gast-filled-in__input {
  position: absolute;
  width: 320px;
  height: 44px;
  top: 20px;
  padding-left: 15px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

/* placeholder */
.dropdown-gast-filled-in__input::-webkit-input-placeholder {
  width: 112px;
  height: 18px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
}
.dropdown-gast-filled-in__input:-ms-input-placeholder {
  width: 112px;
  height: 18px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
}
.dropdown-gast-filled-in__input::-ms-input-placeholder {
  width: 112px;
  height: 18px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
}
.dropdown-gast-filled-in__input::placeholder {
  width: 112px;
  height: 18px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
}

/* стили expand more*/
.dropdown-gast-filled-in__img {
  position: absolute;
  width: 44px;
  height: 44px;
  left: 276px;
  top: 20px;
  background-image: url("img/expand_more.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

/* свойства dropdown гости empty*/
.dropdown-gast-filled-in__form {
  position: absolute;
  width: 320px;
  height: 159px;
  top: 62.56px;
  left: px;
  background: #ffffff;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
          box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

/* кнопки +/- */
.dropdown-gast-filled-in__form > .dropdown__circle-plus1 {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 22px;
  cursor: pointer;
  left: 283px;
}

.dropdown-gast-filled-in__form > .dropdown__circle-plus2 {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 22px;
  cursor: pointer;
  left: 283px;
}

.dropdown-gast-filled-in__form > .dropdown__circle-plus3 {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 22px;
  cursor: pointer;
  left: 283px;
}

.dropdown-gast-filled-in__form > .dropdown__circle-minus1 {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 22px;
  left: 221px;
  border: 1px solid rgba(31, 32, 65, 0.5);
}

.dropdown-gast-filled-in__form > .dropdown__circle-minus2 {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 22px;
  left: 221px;
  border: 1px solid rgba(31, 32, 65, 0.5);
}

.dropdown-gast-filled-in__form > .dropdown__circle-minus3 {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 22px;
  left: 221px;
  border: 1px solid rgba(31, 32, 65, 0.25);
}

/* счётчики */
.adults {
  top: 13px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: #1f2041;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15px;
  width: 92px;
  left: 221px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
}

.children {
  top: 50px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: #1f2041;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15px;
  width: 92px;
  left: 221px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
}

.babies {
  top: 87px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: #1f2041;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15px;
  width: 92px;
  left: 221px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
}
/*# sourceMappingURL=dropdowns.css.map */