@import '../mixins.scss';

.text-field__span {
  position: absolute;
  width: 57px;
  height: 15px;
  left: 262.74px;
  top: 0px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
}

/* text fild default*/

.text-field__default {
  position: absolute;
  height: 67px;
  width: 320px;
  left: 141px;
  top: 140px;
}

.input__default {
  @include input;
  border: 1px solid rgba(31, 32, 65, 0.25);
}

/* поле hover/focus */

.text-field__hover-focus {
  height: 64.4423828125px;
  width: 320px;
  left: 141px;
  top: 227px;
  position: absolute;
}

.input__hover-focus {
  @include input;
  border: 1px solid rgba(31, 32, 65, 0.5);
}
/* поле dropdown */

.dropdown {
  height: 64.4423828125px;
  width: 320px;
  left: 141px;
  top: 311px;
  position: absolute;
}

.input__dropdown {
  @include input;
  border: 1px solid rgba(31, 32, 65, 0.25);
}

/* поле masked */

.masked-text-field {
  height: 67px;
  width: 320px;
  left: 141px;
  top: 395px;
  position: absolute;
}

.input__masked {
  @include input;
  border: 1px solid rgba(31, 32, 65, 0.25);
  white-space: pre;
}

/* поле arrivale-date */

.arrivale-date {
  height: 65px;
  width: 150px;
  left: 141px;
  top: 502px;
  position: absolute;
}

.input__arrivale-date {
  @include input;
  border: 1px solid rgba(31, 32, 65, 0.25);
  width: 150px;
}

/* поле departure-date */

.departure-date {
  height: 65px;
  width: 150px;
  left: 311px;
  top: 502px;
  position: absolute;
}

.input__departure-date {
  @include input;
  border: 1px solid rgba(31, 32, 65, 0.25);
  width: 150px;
}

/* поле filter date */

.filter-date {
  height: 65px;
  width: 266px;
  left: 141px;
  top: 607px;
  position: absolute;
}

.input__filter-date {
  @include input;
  border: 1px solid rgba(31, 32, 65, 0.25);
  width: 266px;
}

/* поле subscription */

.subscription {
  height: 64px;
  width: 267px;
  left: 140px;
  top: 712px;
  position: absolute;
}

.input__subscription {
  @include input;
  border: 1px solid rgba(31, 32, 65, 0.25);
  width: 267px;
}

.text-field__hover-focus > span {
  position: absolute;
  font-weight: normal;
  text-align: right;
  left: 220px;
  color: rgba(31, 32, 65, 0.5);
  white-space: pre;
}

/* default placeholder */
.input__default::placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
}

/* masked placeholder */
.input__masked::placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.25);
  text-transform: uppercase;
}

/* hover/focus placeholder */
.input__hover-focus::placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

/* dropdown placeholder */
.input__dropdown::placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

/* dropdown__arrivale-date placeholder */
.input__arrivale-date::placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
  text-transform: uppercase;
}

/* dropdown__departure-date placeholder */
.input__departure-date::placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  text-transform: uppercase;
}

/* filter date placeholder */

.input__filter-date::placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

/* subscription placeholder */
.input__subscription::placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.25);
}

/* dropdown img */

.input-dropdown__img {
  position: absolute;
  width: 42px;
  height: 42px;
  left: 276px;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* dropdown arrivale date img */
.input-arrivale-date__img {
  position: absolute;
  width: 42px;
  height: 42px;
  left: 108px;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* dropdown departure date img */

.input-departure-date__img {
  position: absolute;
  width: 42px;
  height: 42px;
  left: 108px;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* fliter date img */

.fliter-date__img {
  position: absolute;
  width: 42px;
  height: 42px;
  left: 224px;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* subscription img */
.subscription__img {
  position: absolute;
  width: 42px;
  height: 42px;
  left: 224px;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
