@import '../mixins.scss';

/* блок приемущества*/

.advantages {
  height: 158px;
  width: 291px;
  left: 140px;
  top: 1564px;
  position: absolute;
}

/*смайлик*/
.advantages__face {
  position: absolute;
  height: 48px;
  width: 48px;
  left: 0px;
  top: 0px;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 41px;
  display: flex;
  align-items: center;
  text-align: center;
}

/*город*/
.advantages__city {
  position: absolute;
  height: 48px;
  width: 48px;
  left: 0px;
  top: 89px;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 41px;
  display: flex;
  align-items: center;
  text-align: center;
}

/* приемущество комфорт*/
.advantages-face__comfort {
  height: 48px;
  width: 233px;
  left: 58px;
  top: 3px;
  position: absolute;
}

/* приемущество удобство */
.advantages-city__convenience {
  height: 48px;
  width: 233px;
  left: 58px;
  top: 92px;
  position: absolute;
}

/*жирный шрифт*/
.advantages-face__bold {
  font-weight: bold;
  @include paragraf;
}

/*нормальный шрифт*/
.advantages-face__normal {
  font-weight: normal;
  @include paragraf;
  top: 23px;
}

/*жирный шрифт*/
.advantages-city__bold {
  font-weight: bold;
  @include paragraf;
}

/*нормальный шрифт*/
.advantages-city__normal {
  font-weight: normal;
  @include paragraf;
  top: 23px;
}

/* горизоньальная линия блока advantages-face */
.advantages-face__line {
  position: absolute;
  width: 280px;
  height: 1px;
  right: 11px;
  top: 68px;
  background: rgba(31, 32, 65, 0.1);
}

/* горизоньальная линия блока advantages-city */

.advantages-city__line {
  position: absolute;
  width: 280px;
  height: 1px;
  right: 11px;
  top: 65px;
  background: rgba(31, 32, 65, 0.1);
}

/*блок отзывов*/

.reviews {
  height: 133px;
  width: 711px;
  left: 587px;
  top: 1574px;
  position: absolute;
}

/*фото пользователя*/

.reviews__img {
  left: -20px;
  top: -10px;
  position: absolute;
}

/*like checkbox*/

.reviews__like-button {
  right: 756px;
  top: 28px;
  position: absolute;
}

/* блок данных о пользователе*/
.reviews__user {
  height: 48px;
  width: 220.5px;
  left: 58px;
  top: 3px;
  position: absolute;
}

/* имя пользователя*/

.reviews-user__name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

/*срок давности отзыва*/

.reviews-user__time {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

/*отзыв*/

.reviews__content {
  position: absolute;
  width: 653px;
  height: 72px;
  left: 58px;
  top: 61px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.fa-gradient {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(188, 156, 255, 1)),
    to(rgba(139, 164, 249, 1))
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* checked для like-button__checked */

.like-button__input2:hover + .like-button__checked > .like-button__p2 {
  color: rgba(31, 32, 65, 0.25);
}

.like-button__input2:hover + .like-button__checked {
  border: 1px solid rgba(31, 32, 65, 0.25);
}

.like-button__input2:hover
  + .like-button__checked
  > .like-button-checked__favorite::before {
  content: 'favorite_border';
  background: rgba(31, 32, 65, 0.25);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
