@charset "UTF-8";
/* свойства блока checkbox*/
.check {
  position: absolute;
  width: 222px;
  height: 129.12px;
  left: 587px;
  top: 143px;
}

/* свойства заголовка */
h2 {
  height: 15px;
  white-space: pre;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
  margin-bottom: 12px;
}

.options {
  top: 16px;
  display: block;
  padding-bottom: 3px;
}

/* скрываем чекбокс браузера*/
.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

/* свойства label */
.checkbox {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
  padding-left: 30px;
  margin-bottom: 10px;
}

/* свойства рамки для chechbox */
.checkbox__view {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  margin-left: -30px;
}

/* checked */
.checkbox__input:checked + .checkbox__view {
  background-image: url("../img/Vector.png");
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #bc9cff;
}

/* checked */
.checkbox__gast {
  white-space: pre;
  width: 192px;
  height: 36px;
}

/* радио кнопки */
.radio {
  position: absolute;
  top: 313px;
  left: 587px;
  height: 55px;
  width: 220.75px;
}

/* заголовок */
.radio__h2 {
  width: 107px;
  height: 15px;
  white-space: pre;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
  margin-bottom: 12px;
}

/* скрываем стандартный радио-баттон */
.radio__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

/* свойства метки кнопок */
.radio-label__men {
  height: 24px;
  width: 68px;
  position: absolute;
  padding-left: 33px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  left: 0px;
  top: 31px;
  display: inline-block;
  color: rgba(31, 32, 65, 0.75);
}

.radio-label__women {
  height: 24px;
  width: 73px;
  position: absolute;
  padding-left: 33px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  left: 116px;
  top: 31px;
  display: inline-block;
  color: rgba(31, 32, 65, 0.75);
}

/* свойства кнопки none checked */
.radio-view__men {
  width: 20px;
  position: absolute;
  height: 20px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  top: 0px;
  left: 4px;
}

.radio-view__women {
  width: 20px;
  position: absolute;
  height: 20px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  top: 0px;
  left: 4px;
}

/* checked */
.radio__input:checked + .radio-view__men {
  border: 1px solid #bc9cff;
  background-image: url("../img/2ectangle2.1.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.radio__input:checked + .radio-view__women {
  border: 1px solid #bc9cff;
  background-image: url("../img/2ectangle2.1.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/*toggle */
.toggle {
  height: 89px;
  width: 260px;
  left: 587px;
  top: 404.56px;
  position: absolute;
}

/* скрываем стагдартные чекбоксы*/
.toggle__input1,
.toggle__input2 {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

/* состояние checked*/
.toggle__checked {
  top: 31px;
  position: absolute;
  left: 0px;
  width: 40px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
}

/* состояние none checked*/
.toggle__non-checked {
  position: absolute;
  left: 0px;
  width: 40px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
  top: 65px;
}

/* :checked input1*/
.toggle__input1:checked + .toggle__checked {
  border: 1px solid #bc9cff;
}

.toggle__input1:checked + .toggle__checked::before {
  position: absolute;
  top: 3px;
  left: 22px;
  background-image: url(../img/2ectangle2.1.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* :checked input2*/
.toggle__input2:checked + .toggle__non-checked {
  border: 1px solid #bc9cff;
}

.toggle__input2:checked ~ .toggle__non-checked::before {
  position: absolute;
  top: 3px;
  left: 22px;
  background-image: url(../img/2ectangle2.1.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* ::before*/
.toggle__checked::before {
  position: absolute;
  content: '';
  width: 12px;
  height: 12px;
  left: 4px;
  top: 3px;
  background-color: rgba(31, 32, 65, 0.25);
  border-radius: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.toggle__non-checked::before {
  position: absolute;
  content: '';
  width: 12px;
  height: 12px;
  left: 4px;
  top: 3px;
  background-color: rgba(31, 32, 65, 0.25);
  border-radius: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* Спецпредложения*/
.toggle-checked__p {
  position: absolute;
  width: 210px;
  height: 24px;
  left: 50px;
  top: 31px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.toggle-nonchecked__p {
  position: absolute;
  width: 210px;
  height: 24px;
  left: 50px;
  top: 65px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

/* блок like button */
.like-button {
  position: absolute;
  width: 89.72px;
  height: 51px;
  left: 587px;
  top: 534px;
}

/* скрываем стандартный чекбокс*/
.like-button__input1,
.like-button__input2 {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

/* границы like button*/
.like-button__none-checked {
  position: absolute;
  left: 0px;
  width: 40px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
  top: 31px;
  background-image: url("../img/favorite_border.svg");
  background-repeat: no-repeat;
  background-position: center left 5px;
}

.like-button__checked {
  position: absolute;
  left: 0px;
  width: 40px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
  top: 31px;
  left: 50px;
  background-image: url("../img/favorite_border.svg");
  background-repeat: no-repeat;
  background-position: center left 5px;
}

/*  шрифт счётчика лайков*/
.like-button__p {
  position: absolute;
  width: 6px;
  height: 13px;
  left: 22px;
  top: 3px;
  color: rgba(31, 32, 65, 0.25);
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
}

/* checked для like-button__none-checked */
.like-button__input1:checked + .like-button__none-checked > .like-button__p {
  color: #bc9cff;
}

.like-button__input1:checked + .like-button__none-checked {
  background-image: url("../img/favorite.png");
  background-repeat: no-repeat;
  background-position: center left 5px;
  border: 1px solid #bc9cff;
}

/* checked для like-button__checked */
.like-button__input2:checked + .like-button__checked > .like-button__p {
  color: #bc9cff;
}

.like-button__input2:checked + .like-button__checked {
  background-image: url("../img/favorite.png");
  background-repeat: no-repeat;
  background-position: center left 5px;
  border: 1px solid #bc9cff;
}

.rate-button {
  left: 587px;
  top: 625px;
  position: absolute;
}

/* звёзды */
.rate-button__star1 {
  background-image: url(../img/star_border.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  background-size: 24px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.rate-button__star2 {
  background-image: url(../img/star_border.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  background-size: 24px;
  position: absolute;
  top: 0px;
  left: 27px;
}

.rate-button__star3 {
  background-image: url(../img/star_border.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  background-size: 24px;
  position: absolute;
  top: 0px;
  left: 54px;
}

.rate-button__star4 {
  background-image: url(../img/star_border.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  background-size: 24px;
  position: absolute;
  top: 0px;
  left: 81px;
}

.rate-button__star5 {
  background-image: url(../img/star_border.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  background-size: 24px;
  position: absolute;
  top: 0px;
  left: 108px;
}

/* группа 1*/
.rate-button__stars1 {
  height: 24px;
  width: 120px;
  position: absolute;
}

/* группа 2*/
.rate-button__stars2 {
  height: 24px;
  width: 120px;
  position: absolute;
  left: 160px;
  top: 28px;
}

/* hover для звезд */
.hover:hover {
  background-image: url(../img/star.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/*блок rich-checkbox-buttons */
.rich-checkbox-buttons {
  height: 145px;
  width: 266px;
  left: 587px;
  top: 1196px;
  position: absolute;
}

/* стили меток checkbox */
.rich-checkbox-buttons__label {
  display: block;
  margin-bottom: 44px;
  margin-top: 14px;
  padding-left: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
}

/* скрываем стандартные checkbox */
.rich-checkbox-buttons__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

/* кастомные checkbox */
.rich-checkbox-buttons__div {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  position: absolute;
  margin-left: -30px;
}

/* блоки дополнительных подписей checkbox */
.rich-checkbox-buttons__hallway {
  position: absolute;
  width: 203px;
  height: 28px;
  left: 30px;
  top: 55px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: rgba(31, 32, 65, 0.5);
}

.rich-checkbox-buttons__helper {
  position: absolute;
  width: 236px;
  height: 28px;
  left: 30px;
  top: 117px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: rgba(31, 32, 65, 0.5);
}

.rich-checkbox-buttons__input:checked + .rich-checkbox-buttons__div {
  background-image: url("../img/Vector.png");
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #bc9cff;
}
/*# sourceMappingURL=radio-checkbox.css.map */