doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    style   
      include styles/cards/account_login.css
      include styles/cards/account_registration.css
      include styles/colors-type/logo.css
  body 
    include modules/colors-type/logo.pug
    include modules/cards/account_login
    include modules/cards/account_registration
    
