doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    style 
      include styles/form-elements/form-elements.css
      include styles/form-elements/fields.css    
      include styles/colors-type/logo.css
      include styles/form-elements/radio-checkbox.css
      include styles/form-elements/dropdowns.css
  body
    form.elments(actoin='#')   
      include modules/colors-type/logo.pug
      include modules/form-elements/fields.pug
      include modules/form-elements/radio-checkbox.pug
      include modules/form-elements/dropdowns.pug