@import '../../mixins.scss';

/* поле dropdown */

.dropdown {
  height: 64.4423828125px;
  width: 320px;
  left: 141px;
  top: 311px;
  position: absolute;
}

/*подзаголовок dropdown*/
.dropdown > h3 {
  @include headers3;
}
/*свойства поля dropdown*/
.dropdown__input {
  @include input-max;
  top: 20.44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
}

/*картинка для поля dropdown*/
.dropdown__expand_more {
  @include expand_more;
  top: 22px;
  right: 0;
}

.dropdown__input::placeholder {
  @include input-placeholder;
  color: rgba(31, 32, 65, 0.75);
}
