@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.eot");
  src: local("☺"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.eot");
  src: local("☺"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Italic.eot");
  src: local("☺"), url("../fonts/Montserrat-Italic.woff") format("woff"), url("../fonts/Montserrat-Italic.ttf") format("truetype"), url("../fonts/Montserrat-Italic.svg") format("svg");
  font-weight: normal;
  font-style: italic;
}
/*миксин текста копирайта*/
/*миксин заголовков h2*/
/* миксин свойства заголовков*/
/* маркер */
/*миксин кнопок дропдауна +*/
/*миксин кнопок дропдауна -*/
/*миксин блока навигации/регистрации/футера/копирайта*/
/*миксин кнопок*/
/*миксин маленьких кнопок*/
/*свойства пунктов меню*/
/* дни недели */
/* счётчики */
/* свойства изображения expand more*/
/*миксин для placeholder*/
/* общие свойства для input w 318*/
/* общие свойства для input w 266*/
/*миксин свойст для полей w 150*/
/*сердце*/
/*счётчик лайков*/
/*миксин параграф*/
/*mixin для рамки checkbox*/
/*шарики*/
/*звёзды*/
/*миксин карточек*/
/*миксин свойств вложенных блоков*/
/*миксин для правой стрелки*/
/* миксин свойств для оформления текста в кнопке*/
/*миксин заголовка h3 */
/*миксин свойства формы*/
/*миксин свойств контента блоков*/
/* поле subscription */
.subscription {
  height: 64px;
  width: 267px;
  left: 140px;
  top: 712px;
  position: absolute;
}

/*свойства поля subscription*/
.subscription__input {
  width: 266px;
  height: 44px;
  position: absolute;
  background: #ffffff;
  box-sizing: border-box;
  left: 0px;
  box-sizing: border-box;
  padding-left: 15px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  top: 20px;
}

/*подзаголовок поля subscription*/
.subscription > h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
}

/*стрелка*/
.subscription__arrow_forvard {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  position: absolute;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 20px;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* subscription placeholder */
.subscription__input::-moz-placeholder {
  height: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  color: rgba(31, 32, 65, 0.25);
}
.subscription__input:-ms-input-placeholder {
  height: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  color: rgba(31, 32, 65, 0.25);
}
.subscription__input::placeholder {
  height: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  color: rgba(31, 32, 65, 0.25);
}/*# sourceMappingURL=subscription.css.map */