mixin reviews(path,likes,name,time)
  .reviews__img
    img(src=path)
  .reviews__like-button
    label.like-button__labbel2
      input(type="checkbox" class="like-button__input2" checked='')
      .like-button__checked 
        p.like-button__p #{likes}
  .reviews__user
    p.reviews-user__name #{name}
    p.reviews-user__time #{time}


.room-details__img1     
.room-details__img2     
.room-details__img3     
h2.room-details__h2 Сведения о номере
.room-details__block
  .room-details-block__face
    .material-icons-outlined.fa-gradient mood
  .room-details-block__comfort
    p.text 
      span.text-span Комфорт                                 
      | Шумопоглощающие стены
  .room-details-block__city
    .material-icons-outlined.fa-gradient location_city
  .room-details-block__convenience
    p.text 
      span.text-span Удобство                                                       
      | Окно в каждой из спален
  .room-details-block__whatshot
    .material-icons-outlined.fa-gradient whatshot
  .room-details-block__cosiness
    p.text 
      span.text-span Уют                                               
      | Номер оснащён камином
.room-details__reviews 
  h1 Отзывы посетителей номера
  .room-details-reviews__men
    +reviews('../img/image.jpg','12','Мурад Сарафанов','5 дней назад')  
    
    p.reviews__content Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
  .room-details-reviews__women
    +reviews('../img/women.jpg','2','Патрисия Стёклышкова','Неделю    назад')  
 
    p.reviews__content Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент

.room-details__regulations
  h2 Правила
  ul.room-details-regulations__ul 
    li Нельзя с питомцами
    li Без вечеринок
    li Время прибытия - после 13:00, а выезд до 12:00
  .room-details-regulations__circle1
  .room-details-regulations__circle2
  .room-details-regulations__circle3
  
  
  
  