@import "../mixins.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  width: 1440px;
  height: 1350px;
  background: #e5e5e5;
}

.nav-reg {
  @include navigation;
  top: 140px;
  height: 70px;
}

//Свойства логотипа блока  nav.pug

.nav-reg__logo {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 15px;
  left: 140px;
}

.nav-reg__logo > .curve-reight-gradient {
  position: absolute;
  top: 15.29px;
  left: 21.4px;
}

.nav-reg__logo > .curve-left-gradient {
  position: absolute;
  top: 15.29px;
  left: 9.4px;
}

/*логотип токсин*/
.nav-reg__toxin {
  width: 53.19px;
  height: 12.95px;
  position: absolute;
  left: 192.5px;
  top: 28.33px;
}

/*горизонтальное меню*/

.nav-reg__ul {
  position: absolute;
  height: 21px;
  width: 447px;
  left: 530px;
  top: 26px;
}

.nav-reg__ul > ul {
  list-style: none;
}

/*свойства пунктов меню*/
.nav-reg-ul-li__basic {
  @include menu;
}

.nav-reg-ul-li__aboutUs {
  width: 43px;
}

.nav-reg-ul-li__service {
  left: 63px;
  width: 50px;
}

.nav-reg-ul-li__vacancy {
  width: 72px;
  left: 157px;
}

.nav-reg-ul-li__news {
  width: 62px;
  left: 249px;
}
.nav-reg-ul-li__agreements {
  width: 92px;
  left: 331px;
}

/*кнопки*/
.nav-reg__buttons-to-come-in {
  @include button-mini;
  height: 30px;
  width: 83px;
  top: 18px;
  left: 997px;
}

.nav-reg__buttons-register {
  @include button;
  width: 196px;
  height: 34px;
  top: 18px;
  left: 1104px;
}

/*доп кнопки меню*/
.nav-reg__expand_more1 {
  @include expand_more;
  width: 24px;
  height: 21px;
  top: 0px;
  left: 113px;
}
.nav-reg__expand_more2 {
  @include expand_more;
  width: 24px;
  height: 21px;
  top: 0px;
  left: 423px;
}

/*подписи кнопок*/
.nav-reg__register {
  @include text-link;
  position: absolute;
  top: 27px;
  left: 1123px;
  width: 157px;
  height: 15px;
  cursor: pointer;
  color: #ffffff;
  z-index: 1;
}

.nav-reg__to-come-in {
  @include text-link;
  position: absolute;
  top: 27px;
  left: 1017px;
  width: 47px;
  height: 15px;
  cursor: pointer;
  z-index: 1;
}

/*hover для кнопок*/
.nav-reg__register:hover + .nav-reg__buttons-register,
.nav-reg__to-come-in:hover + .nav-reg__buttons-to-come-in,
.nav-reg__buttons-register:hover,
.nav-reg__buttons-to-come-in:hover {
  opacity: 0.5;
}

/*hover для меню */
.nav-reg__ul > ul > li > a:hover {
  color: rgba(31, 32, 65, 0.75);
  font-weight: bold;
}

/*hover для expand more*/
.nav-reg__expand_more1:hover,
.nav-reg__expand_more2:hover {
  color: rgba(31, 32, 65, 0.75);
}
