@charset "UTF-8";
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.eot");
  src: local("☺"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Bold.eot");
  src: local("☺"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Italic.eot");
  src: local("☺"), url("../fonts/Montserrat-Italic.woff") format("woff"), url("../fonts/Montserrat-Italic.ttf") format("truetype"), url("../fonts/Montserrat-Italic.svg") format("svg");
  font-weight: normal;
  font-style: italic;
}

/*миксин текста копирайта*/
/*миксин заголовков h2*/
/* миксин свойства заголовков*/
/* маркер */
/*миксин кнопок дропдауна +*/
/*миксин кнопок дропдауна -*/
/*миксин блока навигации/регистрации/футера/копирайта*/
/*миксин кнопок*/
/*миксин маленьких кнопок*/
/*свойства пунктов меню*/
/* дни недели */
/* счётчики */
/* свойства изображения expand more*/
/*миксин для placeholder*/
/* общие свойства для input w 318*/
/* общие свойства для input w 266*/
/*миксин свойст для полей w 150*/
/*сердце*/
/*счётчик лайков*/
/*миксин параграф*/
/*mixin для рамки checkbox*/
/*шарики*/
/*звёзды*/
/*миксин карточек*/
/*миксин свойств вложенных блоков*/
/*миксин для правой стрелки*/
/* миксин свойств для оформления текста в кнопке*/
/*миксин заголовка h3 */
/*миксин свойства формы*/
/*миксин свойств контента блоков*/
.nav {
  position: absolute;
  width: 1440px;
  left: 0px;
  background: white;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(31, 32, 65, 0.05);
          box-shadow: 0px 10px 20px 0px rgba(31, 32, 65, 0.05);
  top: 250px;
  height: 70px;
}

.nav__logo {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 15px;
  left: 140px;
}

.nav__logo > .curve-reight-gradient {
  position: absolute;
  top: 15.29px;
  left: 21.4px;
}

.nav__logo > .curve-left-gradient {
  position: absolute;
  top: 15.29px;
  left: 9.4px;
}

/*логотип токсин*/
.nav__toxin {
  width: 53.19px;
  height: 12.95px;
  position: absolute;
  left: 192.5px;
  top: 28.33px;
}

/*горизонтальное меню*/
.nav__ul {
  position: absolute;
  width: 588px;
  height: 30px;
  left: 712px;
  top: 20px;
}

.nav__ul > ul {
  list-style: none;
}

/*свойства пунктов меню*/
.nav-ul-li__basic {
  font-family: "Montserrat";
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
  top: 0px;
  position: absolute;
  height: 18px;
  top: 6px;
}

.nav-ul-li__aboutUs {
  width: 43px;
}

.nav-ul-li__services {
  left: 63px;
  width: 50px;
}

.nav-ul-li__vacancy {
  width: 72px;
  left: 157px;
}

.nav-ul-li__news {
  width: 62px;
  left: 249px;
}

.nav-ul-li__agreements {
  width: 92px;
  left: 331px;
}

/*картика expand_more*/
.nav__expand_more1 {
  position: absolute;
  width: 44px;
  height: 44px;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(31, 32, 65, 0.5);
  cursor: pointer;
  width: 24px;
  height: 21px;
  top: 6px;
  left: 113px;
  position: absolute;
}

.nav__expand_more2 {
  position: absolute;
  width: 44px;
  height: 44px;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(31, 32, 65, 0.5);
  cursor: pointer;
  width: 24px;
  height: 21px;
  top: 6px;
  left: 423px;
  position: absolute;
}

/*hover для меню */
.nav__ul > ul > li > a:hover {
  color: rgba(31, 32, 65, 0.75);
  font-weight: bold;
}

.nav__expand_more1:hover,
.nav__expand_more2:hover {
  color: rgba(31, 32, 65, 0.75);
}

.nav__vertical-line {
  position: absolute;
  width: 1px;
  height: 30px;
  right: 260px;
  top: 20px;
  background: rgba(31, 32, 65, 0.1);
}

.nav__guest-name {
  position: absolute;
  width: 100px;
  height: 18px;
  right: 140px;
  top: 26px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
}
/*# sourceMappingURL=nav.css.map */