@charset "UTF-8";
/*миксин текста копирайта*/
/*миксин заголовков h2*/
/* миксин свойства заголовков*/
/* маркер */
/*миксин кнопок дропдауна +*/
/*миксин кнопок дропдауна -*/
/*миксин блока навигации/регистрации/футера/копирайта*/
/*миксин кнопок*/
/*миксин маленьких кнопок*/
/*свойства пунктов меню*/
/* дни недели */
/* счётчики */
/* свойства изображения expand more*/
/*миксин для placeholder*/
/* общие свойства для input w 318*/
/* общие свойства для input w 266*/
/*миксин свойст для полей w 150*/
/*сердце*/
/*счётчик лайков*/
/*миксин параграф*/
/*mixin для рамки checkbox*/
/*шарики*/
/*звёзды*/
/*миксин карточек*/
/*миксин свойств вложенных блоков*/
/*миксин для правой стрелки*/
/* миксин свойств для оформления текста в кнопке*/
/*миксин заголовка h3 */
/*миксин свойства формы*/
/*миксин свойств контента блоков*/
* {
  margin: 0;
  padding: 0;
}

body {
  width: 1440px;
  height: 1350px;
  background: #e5e5e5;
}

/*свойства блока навигации/регистрации*/
.nav-reg {
  position: absolute;
  width: 1440px;
  left: 0px;
  background: white;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(31, 32, 65, 0.05);
          box-shadow: 0px 10px 20px 0px rgba(31, 32, 65, 0.05);
  top: 140px;
  height: 70px;
}

.nav-reg__logo {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 15px;
  left: 140px;
}

.nav-reg__logo > .curve-reight-gradient {
  position: absolute;
  top: 15.29px;
  left: 21.4px;
}

.nav-reg__logo > .curve-left-gradient {
  position: absolute;
  top: 15.29px;
  left: 9.4px;
}

/*логотип токсин*/
.nav-reg__toxin {
  width: 53.19px;
  height: 12.95px;
  position: absolute;
  left: 192.5px;
  top: 28.33px;
}

/*блок кнопок*/
.nav-reg__buttons {
  position: absolute;
  top: 16px;
  left: 989px;
  height: 38px;
}

.nav-reg-buttons__to-come-in {
  display: inline-block;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff)) padding-box, -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9)) border-box;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(#bc9cff, #8ba4f9) border-box;
  border: 2px solid transparent;
  border-radius: 22px;
  font-family: Montserrat;
  margin-right: 20px;
  height: 34px;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: #bc9cff;
  width: 87px;
}

/*"Зарегистрироваться"*/
.nav-reg-buttons__register {
  display: inline-block;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff)) padding-box, -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9)) border-box;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(#bc9cff, #8ba4f9) border-box;
  border: 2px solid transparent;
  border-radius: 22px;
  font-family: Montserrat;
  margin-right: 20px;
  height: 34px;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: #bc9cff;
  width: 192px;
}

/*подпись войти*/
.nav-reg-buttons__to-come-in > span {
  position: absolute;
  width: 84 px;
  top: 12px;
  width: 47px;
  left: 24px;
}

/* подпись зарегистрироаться*/
.nav-reg-buttons__register > span {
  position: absolute;
  width: 163px;
  top: 12px;
  left: 130px;
  width: 157px;
  height: 15px;
}

/*hover для кнопок*/
.nav-reg-buttons__register:hover,
.nav-reg-buttons__to-come-in:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  color: #ffffff;
}

/*горизонтальное меню*/
.nav-reg__ul {
  position: absolute;
  list-style: none;
  margin: 0;
  padding-left: 0px;
  left: 530px;
  top: 26px;
}

.nav-reg__ul > li {
  display: inline-block;
}

/*свойства пунктов меню*/
.nav-reg-ul-li__a {
  font-family: 'Montserrat';
  text-decoration: none;
  padding-right: 20px;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
  margin-bottom: 12px;
}

/*hover для меню */
.nav-reg-ul-li__a:hover {
  color: rgba(31, 32, 65, 0.75);
  font-weight: bold;
}

/*картика expand_more*/
.nav-reg__expand_more1 {
  fill: rgba(31, 32, 65, 0.5);
  top: 32px;
  left: 646px;
  position: absolute;
}

.nav-reg__expand_more2 {
  fill: rgba(31, 32, 65, 0.5);
  top: 32px;
  left: 953px;
  position: absolute;
}

/*пункт меню вакансии*/
.vacancy {
  margin-left: 22px;
}

.nav-reg-expand_more1:hover,
.nav-reg-expand_more2:hover {
  fill: rgba(31, 32, 65, 0.75);
}

.nav {
  position: absolute;
  width: 1440px;
  left: 0px;
  background: white;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(31, 32, 65, 0.05);
          box-shadow: 0px 10px 20px 0px rgba(31, 32, 65, 0.05);
  top: 250px;
  height: 70px;
}

.nav__logo {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 15px;
  left: 140px;
}

.nav__logo > .curve-reight-gradient {
  position: absolute;
  top: 15.29px;
  left: 21.4px;
}

.nav__logo > .curve-left-gradient {
  position: absolute;
  top: 15.29px;
  left: 9.4px;
}

/*логотип токсин*/
.nav__toxin {
  width: 53.19px;
  height: 12.95px;
  position: absolute;
  left: 192.5px;
  top: 28.33px;
}

/*горизонтальное меню*/
.nav__ul {
  position: absolute;
  list-style: none;
  margin: 0;
  padding-left: 0px;
  left: 530px;
  top: 26px;
}

.nav__ul > li {
  display: inline-block;
}

/*свойства пунктов меню*/
.nav-reg-ul-li__a {
  font-family: 'Montserrat';
  text-decoration: none;
  padding-right: 20px;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
  margin-bottom: 12px;
}

/*hover для меню */
.nav-reg-ul-li__a:hover {
  color: rgba(31, 32, 65, 0.75);
  font-weight: bold;
}

/*картика expand_more*/
.nav__expand_more1 {
  fill: rgba(31, 32, 65, 0.5);
  top: 32px;
  left: 646px;
  position: absolute;
}

.nav__expand_more2 {
  fill: rgba(31, 32, 65, 0.5);
  top: 32px;
  left: 953px;
  position: absolute;
}

/*пункт меню вакансии*/
.vacancy {
  margin-left: 22px;
}

.nav-expand_more1:hover,
.nav-expand_more2:hover {
  fill: rgba(31, 32, 65, 0.75);
}

.nav__vertical-line {
  position: absolute;
  width: 1px;
  height: 30px;
  right: 260px;
  top: 20px;
  background: rgba(31, 32, 65, 0.1);
}

.nav__guest-name {
  position: absolute;
  width: 100px;
  height: 18px;
  right: 140px;
  top: 26px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
}
/*# sourceMappingURL=nav.css.map */