@import "../mixins.scss";

.nav {
  @include navigation;
  top: 250px;
  height: 70px;
}

//Свойства логотипа блока  nav.pug

.nav__logo {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 15px;
  left: 140px;
}

.nav__logo > .curve-reight-gradient {
  position: absolute;
  top: 15.29px;
  left: 21.4px;
}

.nav__logo > .curve-left-gradient {
  position: absolute;
  top: 15.29px;
  left: 9.4px;
}

/*логотип токсин*/
.nav__toxin {
  width: 53.19px;
  height: 12.95px;
  position: absolute;
  left: 192.5px;
  top: 28.33px;
}

/*горизонтальное меню*/

.nav__ul {
  position: absolute;
  width: 588px;
  height: 30px;
  left: 712px;
  top: 20px;
}

.nav__ul > ul {
  list-style: none;
}

/*свойства пунктов меню*/
.nav-ul-li__basic{
  @include menu;
  top: 6px;
}

.nav-ul-li__aboutUs {
  width: 43px;
  
}
.nav-ul-li__services {
  left: 63px;
  width: 50px;
  }

.nav-ul-li__vacancy {
  width: 72px;
  left: 157px;
  }

.nav-ul-li__news {
  width: 62px;
  left: 249px;
  }
.nav-ul-li__agreements {
  width: 92px;
  left: 331px;
  }

/*картика expand_more*/
.nav__expand_more1 {
  @include expand_more;
  width: 24px;
  height: 21px;
  top: 6px;
  left: 113px;
  position: absolute;
}
.nav__expand_more2 {
  @include expand_more;
  width: 24px;
  height: 21px;
  top: 6px;
  left: 423px;
  position: absolute;
}

/*hover для меню */
.nav__ul > ul > li > a:hover {
  color: rgba(31, 32, 65, 0.75);
  font-weight: bold;
}

.nav__expand_more1:hover,
.nav__expand_more2:hover {
  color: rgba(31, 32, 65, 0.75);
}

.nav__vertical-line {
  position: absolute;
  width: 1px;
  height: 30px;
  right: 260px;
  top: 20px;
  background: rgba(31, 32, 65, 0.1);
}

.nav__guest-name {
  position: absolute;
  width: 100px;
  height: 18px;
  right: 140px;
  top: 26px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
}
