@import "../mixins.scss";

.dropdown-expanded__form {
  position: absolute;
  width: 266px;
  height: 119px;
  left: 140px;
  top: 779px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-top: none;
  box-sizing: border-box;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

/* кнопки +/- */

.dropdown__circle-plus1 {
  @include circle-plus;
  left: 229px;
  top: 7px;
}

.dropdown__circle-plus2 {
  @include circle-plus;
  left: 229px;
  top: 44px;
}

.dropdown__circle-plus3 {
  @include circle-plus;
  left: 229px;
  top: 82px;
}

.dropdown__circle-minus1 {
  @include circle-minus;
  left: 167px;
  top: 7px;
}

.dropdown__circle-minus2 {
  @include circle-minus;
  left: 167px;
  top: 44px;
}

.dropdown__circle-minus3 {
  @include circle-minus;
  left: 167px;
  top: 82px;
  border: 1px solid rgba(31, 32, 65, 0.25);
}

p.dropdown-p__minus {
  font-family: "Montserrat";
  text-align: center;
  color: rgba(31, 32, 65, 0.5);
  position: absolute;
  top: 3px;
  left: 11px;
}

p.dropdown-p__plus {
  font-family: "Montserrat";
  text-align: center;
  color: rgba(31, 32, 65, 0.5);
  position: absolute;
  top: 4px;
  left: 9px;
}
.dropdown__p {
  margin-bottom: 22px;
  margin-left: 15px;
  width: 83px;
  height: 15px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  white-space: nowrap;
  color: #1f2041;
}

.first {
  margin-top: 11px;
}

p.last {
  color: rgba(31, 32, 65, 0.25);
}

/*счётчики количества условий комфорта*/
.adults {
  top: 13px;
  @include counter;
}
.children {
  top: 50px;
  @include counter;
}
.babies {
  top: 87px;
  @include counter;
}
