div 
  .copyright
    div 
      .copyright-text
        p Copyright © 2018 Toxin отель. Все права защищены.
    a(target='_blank' href='your_url_here')
      i.fa.fa-5x.fa-instagram.fa-gradient
    a(target='_blank' href='your_url_here')
      i.fa.fa-5x.fa-facebook-square.fa-gradient
    a(target='_blank' href='your_url_here')
      i.fa.fa-5x.fa-twitter.fa-gradient
