.footer-mobile
  .footer-mobile__logo 
    include logo-gradient
  .footer-mobile__toxin 
    include toxin
  .copyrighting__text2
    p Copyright © 2018 Toxin отель. Все права защищены.
    a(target='_blank' href='your_url_here')
      i.fa.fa-5x.fa-twitter.twitter-footer-mobile.fa-gradient
    a(target='_blank' href='your_url_here')
      i.fa.fa-5x.fa-facebook-square.facebook-footer-mobile.fa-gradient
    a(target='_blank' href='your_url_here')
      i.fa.fa-5x.fa-instagram.instagram-footer-mobile.fa-gradient      
