.footer
  .footer__logo     
    include logo-gradient 
  .footer__toxin 
    include toxin
  .footer__content 
    p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
  ul.footer__ul1
    li
      a.navigation(href="") навигация 
    li
      a.footer-ul-li__a(href="") О нас 
    li
      a.footer-ul-li__a(href="") Новости   
    li
      a.footer-ul-li__a(href="") Служба поддержки 
    li
      a.footer-ul-li__a(href="") Услуги 
  ul.footer__ul2
    li  
      a.navigation(href="")  о нас 
    li
      a.footer-ul-li__a(href="") О Сервисе
    li
      a.footer-ul-li__a(href="") Наша команда 
    li
      a.footer-ul-li__a(href="") Вакансии 
    li
      a.footer-ul-li__a(href="") Инвесторы
  ul.footer__ul3
    li
      a.navigation(href="")  служба поддержки 
    li
      a.footer-ul-li__a(href="") Соглашения
    li
      a.footer-ul-li__a(href="") Сообщества 
    li
      a.footer-ul-li__a(href="") Связь с нами
  .footer__subscription
    a.navigation.subscription-link(href="") подписка  
    p Получайте специальные                  предложения и новости сервиса
    input.footer-subscription__input-email(type='email' placeholder='Email')
    .footer-subscription__arrow
    
        
    
