.nav-reg
  a.nav-reg-buttons__to-come-in(href="#") Войти
  a.nav-reg-buttons__register(href="#") Зарегистрироваться
  ul.nav-reg__ul
    li 
      a.nav-reg-ul-li__a(href="#" ) О нас
    li
      a.nav-reg-ul-li__a(href="#" ) Услуги  
    li
      a.nav-reg-ul-li__a.vacancy(href="#" ) Вакансии  
    li 
      a.nav-reg-ul-li__a(href="#" ) Новости 
    li 
      a.nav-reg-ul-li__a(href="#" ) Соглашения
  .nav-reg__expand-more1.material-icons-outlined expand_more
  .nav-reg__expand-more2.material-icons-outlined expand_more
  .nav-reg__logo
    include logo-gradient
  .nav-reg__toxin 
    include toxin 
      