.nav-reg
  .nav-reg__buttons
    a.nav-reg-buttons__to-come-in(href="#") 
      span Войти
    a.nav-reg-buttons__register(href="#") 
      span Зарегистрироваться
  ul.nav-reg__ul
    li 
      a.nav-reg-ul-li__a(href="#" ) О нас
    li
      a.nav-reg-ul-li__a(href="#" ) Услуги  
    li
      a.nav-reg-ul-li__a.vacancy(href="#" ) Вакансии  
    li 
      a.nav-reg-ul-li__a(href="#" ) Новости 
    li 
      a.nav-reg-ul-li__a(href="#" ) Соглашения
  svg.nav-reg__expand_more1(width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg')
    a(xlink:href='#')
      path(d='M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z'  )
  svg.nav-reg__expand_more2(width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg')
    a(xlink:href='#')
      path(d='M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z'  ) 
  .nav-reg__logo
    include logo-gradient
  .nav-reg__toxin 
    include toxin 
      