div
  .nav-reg
    div
      .buttons
        a.button-to-come-in.standart-nav-bar(href="#") 
          span Войти
        a.standart-nav-bar.button-register(href="#") 
          span Зарегистрироваться
    ul.registration 
      li 
        a(href="#" ) О нас
      li
        a(href="#" ) Услуги  
      li
        a(href="#" ) Вакансии  
      li 
        a(href="#" ) Новости 
      li 
        a(href="#" ) Соглашения 
  div 
    .nav-logo_reg
      include logo-gradient
  div 
    .nav-reg-toxin 
      include toxin        