.nav
  .nav__ul 
    +menu('nav-ul-li__basic','О нас','Услуги','Вакансии','Новости','Соглашения')
    .nav__expand_more1.material-icons-outlined expand_more  
    .nav__expand_more2.material-icons-outlined expand_more
  .nav__logo
    include logo-gradient
  .nav__toxin 
    include toxin 
  .nav__vertical-line
  p.nav__guest-name Юлий Цезарь      