.nav
  ul.nav__ul 
    li 
      a.nav-ul-li__a(href="#" ) О нас
    li
      a.nav-ul-li__a(href="#" ) Услуги  
    li
      a.nav-ul-li__a.vacancy(href="#" ) Вакансии  
    li 
      a.nav-ul-li__a(href="#" ) Новости 
    li 
      a.nav-ul-li__a(href="#" ) Соглашения
  .nav__expand_more1.material-icons-outlined expand_more  
  .nav__expand_more2.material-icons-outlined expand_more
  .nav__logo
    include logo-gradient
  .nav__toxin 
    include toxin 
  .nav__vertical-line
  p.nav__guest-name Юлий Цезарь      