div
  .nav
    ul(class="registered") 
      li 
        a(href="#" class="information") О нас
      li
        a(href="#" class="services") Услуги  
      li
        a(href="#" class="vacancy") Вакансии  
      li 
        a(href="#" class="news") Новости 
      li 
        a(href="#" class="agreements") Соглашения
  div 
    .nav-logo
      include logo-gradient
  div 
    .nav-toxin 
      include toxin