.colors
  .colors-black
  .colors-black_75
  .colors-black_50 
  .colors-black_25
  .colors-black_5
  .colors-purple
  .colors-green
  .colors-black_text
    p 
      strong Darck Shade 100% 
      br
      |#1F2041 
  .colors-black_75_text
    p 
      strong Darck Shade 75%  
      br
      |#1F2041 
  .colors-black_50_text 
    p 
      strong Darck Shade 50%
      br 
      |#1F2041 
  .colors-black_25_text
    p
      strong Darck Shade 25%
      br 
      |#1F2041 
  .colors-black_5_text
    p 
      strong Darck Shade 5%
      br
      |#1F2041 
  .colors-purple_text 
    p
      strong Purple
      br
      |#BC9CFF 
  .colors-green_text 
    p 
      strong Green
      br
      |#6FCF97