div
  .colors
    div
      .colors-black
    div
      .colors-black_75
    div
      .colors-black_50 
    div
      .colors-black_25
    div
      .colors-black_5
    div 
      .colors-purple
    div
      .colors-green
    div
      .colors-black_text
        p 
          strong Darck Shade 100% 
          br
          |#1F2041 
    div
      .colors-black_75_text
        p 
          strong Darck Shade 75%  
          br
          |#1F2041 
    div
      .colors-black_50_text 
        p 
          strong Darck Shade 50%
          br 
          |#1F2041 
    div
      .colors-black_25_text
        p
          strong Darck Shade 25%
          br 
          |#1F2041 
    div
      .colors-black_5_text
        p 
          strong Darck Shade 5%
          br
          |#1F2041 
    div 
      .colors-purple_text 
        p
          strong Purple
          br
          |#BC9CFF 
    div 
      .colors-green_text 
        p 
          strong Green
          br
          |#6FCF97