div 
  .content
    div 
      .elements-name  
        div 
          .elements-name_h1
            p H1
        div 
          .elements-name_h2
            p H2
        div 
          .elements-name_h3
            p H3
        div 
          .elements-name_body
            p Body
    div 
      .content-h1
        p This one is the sub-section or widget title
    div 
      .content-h2
        p Next one is the item title inside widgets
    div 
      .content-h3
        p Next one is the item title inside widgets
    div 
      .content-body
        p This is the body text which is used for most of the design, like paragraphs, lists, etc.