div
  .logo
    div
      .circle 
        img(src="img/circle.svg", 
      alt="circle")
    div 
      .curve1
        img(src="img/curve-left.svg", alt="curve left" )
    div 
      .curve2 
        img(src="img/curve-rieght.svg", alt="curve reight")
       
    