mixin reviews(path,likes,name,time)
  .reviews__img
    img(src=path)
  .reviews__like-button
    label.like-button__labbel1
      input(type="checkbox" class="like-button__input1" checked='')
      .like-button__none-checked
        .like-button-none-checked__favorite_border
        p.like-button__p1 #{likes}
  .reviews__user
    p.reviews-user__name #{name}
    p.reviews-user__time #{time}
