@import "../mixins.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  width: 1440px;
  height: 1343px;
  background: #e5e5e5;
}

.nav-reg {
  @include navigation;
  top: 0px;
  height: 70px;
  z-index: 1;
}

//Свойства логотипа блока  nav-reg.pug

.nav-reg__logo {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 15px;
  left: 140px;
}

.nav-reg__logo > .curve-reight-gradient {
  position: absolute;
  top: 15.29px;
  left: 21.4px;
}

.nav-reg__logo > .curve-left-gradient {
  position: absolute;
  top: 15.29px;
  left: 9.4px;
}

/*логотип токсин*/
.nav-reg__toxin {
  width: 53.19px;
  height: 12.95px;
  position: absolute;
  left: 192.5px;
  top: 28.33px;
}

//Кнопка "Войти"

.nav-reg__buttons-to-come-in {
  @include button-mini;
  height: 30px;
  width: 83px;
  position: absolute;
  top: 18px;
  left: 997px;
}

/*"Зарегистрироваться"*/
.nav-reg__buttons-register {
  @include button;
  height: 34px;
  top: 18px;
  left: 1104px;
  width: 192px;
}

/*подписи кнопок*/
.nav-reg__register {
  @include text-link;
  position: absolute;
  top: 27px;
  left: 1123px;
  width: 157px;
  height: 15px;
  cursor: pointer;
  color: #ffffff;
  z-index: 1;
}

.nav-reg__to-come-in {
  @include text-link;
  position: absolute;
  top: 27px;
  left: 1017px;
  width: 47px;
  height: 15px;
  cursor: pointer;
  z-index: 1;
}

/*hover для кнопок*/
.nav-reg__register:hover + .nav-reg__buttons-register,
.nav-reg__to-come-in:hover + .nav-reg__buttons-to-come-in,
.nav-reg__buttons-register:hover,
.nav-reg__buttons-to-come-in:hover {
  opacity: 0.5;
}

/*горизонтальное меню*/

.nav-reg__ul {
  position: absolute;
  list-style: none;
  margin: 0;
  padding-left: 0px;
  left: 530px;
  top: 26px;
}

.nav-reg__ul > li {
  display: inline-block;
}

.nav-reg-ul-li__a {
  @include menu;
}

/*hover для меню */
.nav-reg-ul-li__a:hover {
  color: rgba(31, 32, 65, 0.75);
  font-weight: bold;
}

/*картика expand_more*/
.nav-reg__expand_more1 {
  @include expand_more;
  width: 24px;
  height: 24px;
  top: 23px;
  left: 643px;
  position: absolute;
}

.nav-reg__expand_more2 {
  @include expand_more;
  top: 23px;
  width: 24px;
  height: 24px;
  left: 953px;
  position: absolute;
}
/*пункт меню вакансии*/
.vacancy {
  margin-left: 22px;
}

.nav-reg__expand_more1:hover,
.nav-reg__expand_more2:hover {
  color: rgba(31, 32, 65, 0.75);
}
