@import "../mixins.scss";

.dropdown__circle-plus1 {
  @include circle-plus;
  left: 283px;
  top: 7px;
}

.dropdown__circle-plus2 {
  @include circle-plus;
  left: 283px;
  top: 44px;
}

.dropdown__circle-plus3 {
  @include circle-plus;
  left: 283px;
  top: 82px;
}

.dropdown__circle-minus1 {
  @include circle-minus;
  left: 221px;
  top: 7px;
}

.dropdown__circle-minus2 {
  @include circle-minus;
  left: 221px;
  top: 44px;
}

.dropdown__circle-minus3 {
  @include circle-minus;
  left: 221px;
  top: 82px;
}

p.dropdown-p__minus {
  font-family: "Montserrat";
  text-align: center;
  color: rgba(31, 32, 65, 0.5);
  position: absolute;
  top: 3px;
  left: 11px;
}

p.dropdown-p__plus {
  font-family: "Montserrat";
  text-align: center;
  color: rgba(31, 32, 65, 0.5);
  position: absolute;
  top: 4px;
  left: 9px;
}
.dropdown__p {
  margin-bottom: 18px;
  margin-left: 15px;
  width: 83px;
  height: 15px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
}

.first {
  margin-top: 11px;
}

.dropdown__link1 {
  width: 72px;
  height: 15px;
  position: absolute;
  top: 131px;
  left: 14px;
  @include text-link;
}

.dropdown__link2 {
  width: 84px;
  height: 15px;
  position: absolute;
  right: 7px;
  top: 131px;
  @include text-link;
}

.dropdown__link1:hover,
.dropdown__link2:hover {
  color: rgba(31, 32, 65, 0.5);
}

.dropdown__expand-more:active ~ .dropdown {
  display: block;
}
.dropdown__expand-more:active + .search-room__gast::after {
  border-bottom: none;
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
