@charset "UTF-8";
/*миксин текста копирайта*/
/* миксин свойства заголовков*/
/*миксин кнопок дропдауна +*/
/*миксин кнопок дропдауна -*/
/*миксин блока навигации/регистрации/футера/копирайта*/
/*миксин кнопок*/
/*свойства пунктов меню*/
/* дни недели */
/* счётчики */
/* свойства изображения expand more*/
/*кнопки +/- */
/*миксин для placeholder*/
/*шарики*/
/*звёзды*/
/* свойства формы*/
.search-room {
  position: absolute;
  background: white;
  height: 374px;
  width: 380px;
  left: 140px;
  top: 140px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

h1 {
  position: absolute;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  color: #1f2041;
  width: 320px;
  height: 59px;
  left: 30px;
  top: 40px;
  font-size: 24px;
  line-height: 29px;
}

.search-room-header__arrival {
  position: absolute;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  color: #1f2041;
  width: 83px;
  height: 15px;
  left: 30px;
  top: 120px;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

.search-room-header__departure {
  position: absolute;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  color: #1f2041;
  width: 83px;
  height: 15px;
  left: 200px;
  top: 120px;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

.search-room-header__gast {
  position: absolute;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  color: #1f2041;
  position: absolute;
  width: 43px;
  height: 15px;
  top: 205px;
  left: 30px;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
}

/* поля дат*/
.search-room__arrival-date {
  position: absolute;
  width: 150px;
  height: 44px;
  left: 30px;
  top: 140.44px;
  padding-left: 15px;
  background-image: url(../img/expand_more.svg) no-repeat right;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.search-room__date-of-departure {
  position: absolute;
  width: 150px;
  height: 44px;
  left: 200px;
  top: 140.44px;
  padding-left: 15px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

/* блоки изображений */
.expand-more-arrival-date__div {
  position: relative;
  pointer-events: none;
  width: 44px;
  height: 44px;
  left: 136px;
  top: 140px;
}

.expand-more-date-of-departure__div {
  position: relative;
  cursor: pointer;
  width: 44px;
  height: 44px;
  left: 306px;
  top: 96px;
  pointer-events: none;
}

.expand-more__img {
  position: absolute;
  top: 18px;
  left: 21px;
}

/* поле гости */
.search-room__gast {
  position: absolute;
  width: 320px;
  height: 44px;
  left: 30px;
  top: 225px;
  background: #ffffff;
  padding-left: 15px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

/* dropdown */
.dropdown__expand-more {
  position: absolute;
  left: 325.74px;
  top: 245.56px;
  cursor: pointer;
}

.dropdown {
  display: none;
  position: absolute;
  width: 320px;
  height: 159px;
  left: 30px;
  top: 269px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
          box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  z-index: 1000;
}

.dropdown__circle-plus1 {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 22px;
  cursor: pointer;
  left: 283px;
  top: 7px;
}

.dropdown__circle-plus2 {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 22px;
  cursor: pointer;
  left: 283px;
  top: 44px;
}

.dropdown__circle-plus3 {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 22px;
  cursor: pointer;
  left: 283px;
  top: 82px;
}

.dropdown__circle-minus1 {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 22px;
  left: 221px;
  top: 7px;
}

.dropdown__circle-minus2 {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 22px;
  left: 221px;
  top: 44px;
}

.dropdown__circle-minus3 {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 22px;
  left: 221px;
  top: 82px;
}

p.dropdown-p__minus {
  font-family: 'Montserrat';
  text-align: center;
  color: rgba(31, 32, 65, 0.5);
  position: absolute;
  top: 3px;
  left: 11px;
}

p.dropdown-p__plus {
  font-family: 'Montserrat';
  text-align: center;
  color: rgba(31, 32, 65, 0.5);
  position: absolute;
  top: 4px;
  left: 9px;
}

.dropdown__p {
  margin-bottom: 18px;
  margin-left: 15px;
  width: 83px;
  height: 15px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
}

.first {
  margin-top: 11px;
}

.dropdown__link1 {
  width: 72px;
  height: 15px;
  position: absolute;
  top: 131px;
  left: 14px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #bc9cff;
}

.dropdown__link2 {
  width: 84px;
  height: 15px;
  position: absolute;
  right: 7px;
  top: 131px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #bc9cff;
}

.dropdown__expand-more:active ~ .dropdown {
  display: block;
}

.dropdown__expand-more:active + .search-room__gast::after {
  border-bottom: none;
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* кнопка */
.search-room__pick-up-a-room {
  position: absolute;
  top: 300px;
  left: 30px;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 316px;
  height: 42px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff)) padding-box, -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9)) border-box;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(#bc9cff, #8ba4f9) border-box;
  border: 2px solid transparent;
  border-radius: 22px;
  text-decoration: none;
  text-transform: uppercase;
  color: #bc9cff;
}

span {
  position: absolute;
  top: 14px;
  left: 18px;
  width: 280px;
  height: 15px;
  font-size: 12px;
  text-align: center;
  line-height: 15px;
  font-style: normal;
  font-weight: bold;
  font-family: 'Montserrat';
}

.search-room__pick-up-a-room:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  color: #ffffff;
  border: none;
}

.account-registration-link-image_pay {
  position: absolute;
  left: 290px;
  top: 13px;
  fill: url("#paint0_linear");
}

.block-link-image:hover .account-registration-link-image_pay {
  fill: white;
}

/* plceholder */
.search-room__gast::-webkit-input-placeholder {
  height: 18px;
  width: 112px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
}
.search-room__gast:-ms-input-placeholder {
  height: 18px;
  width: 112px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
}
.search-room__gast::-ms-input-placeholder {
  height: 18px;
  width: 112px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
}
.search-room__gast::placeholder {
  height: 18px;
  width: 112px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
}

.search-room__arrival-date::-webkit-input-placeholder,
.search-room__date-of-departure::-webkit-input-placeholder {
  width: 103px;
  height: 24px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
}

.search-room__arrival-date:-ms-input-placeholder,
.search-room__date-of-departure:-ms-input-placeholder {
  width: 103px;
  height: 24px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
}

.search-room__arrival-date::-ms-input-placeholder,
.search-room__date-of-departure::-ms-input-placeholder {
  width: 103px;
  height: 24px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
}

.search-room__arrival-date::placeholder,
.search-room__date-of-departure::placeholder {
  width: 103px;
  height: 24px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
}
/*# sourceMappingURL=search-room.css.map */