@import '../mixins.scss';
@import '../fonts.scss';

/* свойства формы */

.searching-results {
  position: absolute;
  width: 380px;
  height: 512px;
  left: 920px;
  top: 625px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

/* основной заголовок */
.searching-results__h1 {
  @include headers;
  width: 69px;
  height: 30px;
  left: 30px;
  top: 40px;
}

/*свойства №*/
.searching-results-h1__span {
  font-size: 14px;
  line-height: 18px;
}

/* свойства параграфа люкс */
.searching-results__luxury {
  position: absolute;
  width: 41px;
  height: 15px;
  left: 107px;
  top: 52px;
  @include text-link;
}

/* свойства параграфа цена засутки */

.searching__per-day {
  position: absolute;
  @include copyright-text;
  font-weight: bold;
  left: 250px;
  top: 50px;
  color: rgba(31, 32, 65, 0.5);
}

.searching__per-day > span {
  font-weight: normal;
  font-size: 12px;
}
/* подписи для поля дат */

.searching-results-header__arrival {
  @include headers3;
  position: absolute;
  width: 83px;
  left: 30px;
  top: 90px;
}

.searching-results-header__departure {
  @include headers3;
  position: absolute;
  width: 83px;
  left: 200px;
  top: 90px;
}

/*заголовок поля гости*/
.searching-results-header__gast {
  @include headers3;
  position: absolute;
  width: 43px;
  top: 175px;
  left: 30px;
}

/* поля дат */
.searching-results__arrival-date {
  left: 30px;
  top: 110px;
  @include input-mini;
}

.searching-results__date-of-departure {
  @include input-mini;
  left: 200px;
  top: 110.44px;
}

/* блоки изображений полей дат*/

.searching-results-arrival-date__expand-more {
  @include expand_more;
  left: 136px;
  top: 110px;
}

.searching-results-date-of-departure__expand-more {
  left: 306px;
  top: 111px;
  @include expand_more;
}

/* поле гости */
.searching-results__gast {
  @include input-max;
  left: 30px;
  top: 195px;
}

/* блок изображения поля гости */

.searching-results-gast__expand-more {
  @include expand_more;
  left: 305.74px;
  top: 194.56px;
}

/* параграфы */

.searcning-results__p1 {
  @include paragraf;
  height: 24px;
  width: 116px;
  top: 252.56px;
  left: 30px;
}
.searcning-results__p2 {
  @include paragraf;
  height: 24px;
  width: 214px;
  top: 283px;
  left: 30px;
}
.searcning-results__p3 {
  @include paragraf;
  height: 36px;
  width: 214px;
  top: 316px;
  left: 30px;
  line-height: 18px;
}
.searcning-results__p4 {
  @include paragraf;
  top: 252.56px;
  height: 24px;
  width: 57px;
  right: 30px;
}
.searcning-results__p5 {
  @include paragraf;
  height: 24px;
  width: 20px;
  top: 283px;
  right: 30px;
}
.searcning-results__p6 {
  @include paragraf;
  top: 314px;
  height: 24px;
  width: 37px;
  right: 30px;
}

/* заголовки итого и сумма */
.searching-results-h2__total {
  @include landing-h2;
  width: 60px;
  height: 24px;
  left: 30px;
  top: 390px;
}

.searching-results-h2__summ {
  @include landing-h2;
  width: 60px;
  height: 24px;
  right: 47px;
  top: 390px;
  white-space: nowrap;
}

/* кнопка забронировать */

.searching-results-link__to-book {
  @include button;
  top: 437.56px;
  left: 30px;
  width: 320px;
}
/*стрелка*/
.searching-results-link-to-book__arrow-forward {
  @include arrow_forvard;
  top: 437.56px;
  left: 306px;
  cursor: pointer;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(188, 156, 255, 1)),
    to(rgba(139, 164, 249, 1))
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*hover для кнопки*/
.searching-results-link__to-book:hover {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  color: #ffffff;
  border: none;
}

.searching-results__link:hover .searching-results-link__to-book {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  color: #ffffff;
  border: none;
}

.searching-results__link:hover .searching-results-link-to-book__arrow-forward {
  background: white;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* placeholder */

.searching-results__arrival-date::placeholder {
  width: 103px;
  height: 24px;
  @include input-placeholder;
  color: rgba(31, 32, 65, 0.75);
}

.searching-results__date-of-departure::placeholder {
  width: 103px;
  height: 24px;
  @include input-placeholder;
  color: rgba(31, 32, 65, 0.75);
}

.searching-results__gast::placeholder {
  width: 50px;
  height: 24px;
  @include input-placeholder;
  color: rgba(31, 32, 65, 0.75);
}

/* информационые кнопки */

.searching-results__information1 {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 250px;
  top: 283.56px;
  cursor: pointer;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 10px;
}

.searching-results__information2 {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 250px;
  top: 317.56px;
  cursor: pointer;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 10px;
}

.searching-results-information__p {
  position: absolute;
  left: 6.5px;
  top: 2px;
  font-family: 'Montserrat';
  width: 4px;
  height: 14px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  color: rgba(31, 32, 65, 0.25);
}
