@import '../fonts.scss';

* {
  padding: 0;
  margin: 0;
}

body {
  background: #e5e5e5;
  width: 1440px;
  height: 900px;
}

// Форма account_login

.account-login {
  position: absolute;
  width: 380px;
  height: 358px;
  left: 560px;
  top: 704px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.account-login-header {
  position: absolute;
  width: 320px;
  height: 30px;
  left: 30px;
  top: 40px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;

  color: #1f2041;
}

.account-login-input-email {
  position: absolute;
  width: 299.5px;
  height: 44px;
  padding-left: 15px;
  left: 30px;
  top: 90px;
}

.account-login-input-password {
  position: absolute;
  width: 299.5px;
  height: 44px;
  padding-left: 15px;
  left: 30px;
  top: 144px;
}

.account-login-paragraf {
  position: absolute;
  width: 164px;
  height: 18px;
  left: 30px;
  top: 292px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  display: flex;
  align-items: center;

  color: #000000;
}

.account-login-link_to-come-in {
  position: absolute;
  top: 208px;
  left: 30px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 42px;

  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(rgba(188, 156, 255, 1), rgba(139, 164, 249, 1)) border-box;
  border: 2px solid transparent;
  border-radius: 22px;

  text-align: center;
  text-decoration: none;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #bc9cff;
}

.account-login-link_create {
  position: absolute;
  top: 282px;
  left: 251px;
  width: 99px;
  height: 42px;
  display: inline-block;
  align-items: center;
  justify-content: center;

  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(rgba(188, 156, 255, 1), rgba(139, 164, 249, 1)) border-box;
  border: 2px solid transparent;
  border-radius: 22px;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #bc9cff;
}

.account-login-link_to-come-in span {
  position: absolute;
  width: 280px;
  top: 14px;
  height: 15px;
  left: 20px;
  font-size: 12px;
  line-height: 15px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
}

.account-login-link_create span {
  position: absolute;
  top: 15px;
  left: 18px;
  width: 62px;
  height: 15px;
  font-size: 12px;
  line-height: 15px;
  font-style: normal;
  font-weight: bold;
  font-family: 'Montserrat';
}

.account-login-link_to-come-in:hover,
.account-login-link_create:hover {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  color: #ffffff;
}

.account-login-link-image_to-come-in {
  position: absolute;
  left: 290px;
  top: 13px;
  fill: url('#paint0_linear');
}

.account-login-link-image_to-come-in:hover {
  fill: white;
}

.block-link-image:hover .account-login-link-image_to-come-in {
  fill: white;
}
