@import '../mixins.scss';
@import '../fonts.scss';

* {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  width: 1440px;
  height: 1350px;
  background: #f4f4f6;
}

// Форма account_login

.account-login {
  width: 380px;
  height: 358px;
  left: 560px;
  top: 704px;
  @include form;
}

/*свойства заголовка h1*/

.account-login__header {
  width: 320px;
  height: 30px;
  left: 30px;
  top: 40px;
  @include headers;
}

/* поле e-mail*/

.account-login__input-email {
  @include input-max;
  left: 30px;
  top: 90px;
}

/* поле password*/

.account-login__input-password {
  @include input-max;
  left: 30px;
  top: 144px;
}

.account-login > p {
  width: 164px;
  height: 18px;
  left: 30px;
  top: 292px;
  @include paragraf2;
}

/* кнопка войти */
.account-login-link__to-come-in {
  top: 208px;
  left: 30px;
  width: 318px;
  @include button;
}

/* кнопка создать */
.account-login-link__create {
  top: 282px;
  left: 251px;
  width: 99px;
  @include button;
}

/* hover для кнопок */

.account-login-link__create:hover {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  color: #ffffff;
  border: none;
}

.account-login-link:hover .account-login-link-to-come-in {
  background: white;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.account-login-link:hover .account-login-link__to-come-in {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  color: #ffffff;
  border: none;
}

/* картинка для кнопки вход */

.account-login-link-to-come-in {
  @include arrow_forvard;
  left: 306px;
  cursor: pointer;
  top: 208px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(188, 156, 255, 1)),
    to(rgba(139, 164, 249, 1))
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*свойства placeholder*/

.account-login__input-password::placeholder {
  @include input-placeholder;
  width: 55px;
}
.account-login__input-email::placeholder {
  @include input-placeholder;
  width: 40px;
}
