@charset "UTF-8";
/*миксин текста копирайта*/
/*миксин заголовков h2*/
/* миксин свойства заголовков*/
/* маркер */
/*миксин кнопок дропдауна +*/
/*миксин кнопок дропдауна -*/
/*миксин блока навигации/регистрации/футера/копирайта*/
/*миксин кнопок*/
/*миксин маленьких кнопок*/
/*свойства пунктов меню*/
/* дни недели */
/* счётчики */
/* свойства изображения expand more*/
/*миксин для placeholder*/
/* общие свойства для input w 318*/
/* общие свойства для input w 266*/
/*миксин свойст для полей w 150*/
/*сердце*/
/*счётчик лайков*/
/*миксин параграф*/
/*mixin для рамки checkbox*/
/*шарики*/
/*звёзды*/
/*миксин карточек*/
/*миксин свойств вложенных блоков*/
/*миксин для правой стрелки*/
/* миксин свойств для оформления текста в кнопке*/
/*миксин заголовка h3 */
/*миксин свойства формы*/
/*миксин свойств контента блоков*/
* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat';
}

/* свойства формы */
.calendar {
  position: absolute;
  width: 320px;
  height: 369px;
  left: 980px;
  top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
          box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
}

/* основной заголовок */
.august {
  position: absolute;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
  color: #1f2041;
  width: 119px;
  height: 24px;
  left: 101px;
  top: 20px;
}

/* стрелки */
.calendar-arrow-right__img {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  position: absolute;
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 20px;
  left: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.calendar-arrow-left__img {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  position: absolute;
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 20px;
  right: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*дни недели*/
.days-week_mon {
  position: absolute;
  top: 74px;
  height: 39px;
  width: 37px;
  color: #bc9cff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  left: 22px;
}

.days-week_tue {
  position: absolute;
  top: 74px;
  height: 39px;
  width: 37px;
  color: #bc9cff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  left: 62px;
}

.days-week_wed {
  position: absolute;
  top: 74px;
  height: 39px;
  width: 37px;
  color: #bc9cff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  left: 101px;
}

.days-week_the {
  position: absolute;
  top: 74px;
  height: 39px;
  width: 37px;
  color: #bc9cff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  left: 141px;
}

.days-week_fri {
  position: absolute;
  top: 74px;
  height: 39px;
  width: 37px;
  color: #bc9cff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  left: 181px;
}

.days-week_sut {
  position: absolute;
  top: 74px;
  height: 39px;
  width: 37px;
  color: #bc9cff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  left: 221px;
}

.days-week_sun {
  position: absolute;
  top: 74px;
  height: 39px;
  width: 37px;
  color: #bc9cff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  left: 260px;
}

/* числа */
.days {
  position: absolute;
  top: 109px;
  left: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.days div {
  width: 40px;
  height: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(31, 32, 65, 0.5);
}

.days .prev-date {
  color: rgba(31, 32, 65, 0.25);
}

.days .next-date {
  color: rgba(31, 32, 65, 0.25);
}

/* ссылки-кнопки */
.calendar__clear {
  width: 72px;
  height: 15px;
  position: absolute;
  bottom: 18px;
  left: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  color: #bc9cff;
}

.calendar__to-apply {
  width: 84px;
  height: 15px;
  position: absolute;
  right: 20px;
  bottom: 18px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  color: #bc9cff;
}

.days__current-date {
  color: #ffffff;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#6fcf97), to(#66d2ea));
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
}

.days__current-date > p,
.days__19 > p,
.days__23 > p {
  color: #ffffff;
}

.days__23 {
  position: absolute;
  left: 158px;
  top: 120px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}

.days__19 {
  position: absolute;
  left: 0px;
  top: 120px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}

.date-range {
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  opacity: 0.25;
}

.days__highlighted19 {
  -webkit-box-shadow: inset 20px 0 white;
          box-shadow: inset 20px 0 white;
}

.days__highlighted23 {
  -webkit-box-shadow: inset -20px 0 white;
          box-shadow: inset -20px 0 white;
}
/*# sourceMappingURL=calendar.css.map */