@import "../mixins.scss";

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
}

/* свойства формы */
.calendar {
  position: absolute;
  width: 320px;
  height: 369px;
  left: 980px;
  top: 150px;
  @include form;
}

/* основной заголовок */

.august {
  @include landing-h2;
  width: 119px;
  height: 24px;
  left: 101px;
  top: 20px;
}

/* стрелки */

.calendar__img-arrow-right {
  @include arrow_forvard;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 20px;
  left: 20px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(188, 156, 255, 1)),
    to(rgba(139, 164, 249, 1))
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.calendar__img-arrow-left {
  @include arrow_forvard;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 20px;
  right: 20px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(188, 156, 255, 1)),
    to(rgba(139, 164, 249, 1))
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*дни недели*/

.calendar__days-week-mon {
  @include days-week;
  left: 22px;
}
.calendar__days-week-tue {
  @include days-week;
  left: 62px;
}
.calendar__days-week-wed {
  @include days-week;
  left: 101px;
}
.calendar__days-week-the {
  @include days-week;
  left: 141px;
}
.calendar__days-week-fri {
  @include days-week;
  left: 181px;
}
.calendar__days-week-sut {
  @include days-week;
  left: 221px;
}
.calendar__days-week-sun {
  @include days-week;
  left: 260px;
}

/*блок  чисел */
.calendar__days {
  position: absolute;
  top: 109px;
  left: 17px;
  display: flex;
  flex-wrap: wrap;
}

/*свойства чисел*/
.calendar__days div {
  width: 40px;
  height: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: rgba(31, 32, 65, 0.5);
}
/*даты предидущего и следующего месяца*/
.calendar__days .calendar-days__prev-date,
.calendar__days .calendar-days__next-date {
  color: rgba(31, 32, 65, 0.25);
}

/* ссылки-кнопки */

.calendar__clear {
  width: 72px;
  height: 15px;
  position: absolute;
  bottom: 18px;
  left: 20px;
  @include text-link;
}

.calendar__to-apply {
  width: 84px;
  height: 15px;
  position: absolute;
  right: 20px;
  bottom: 18px;
  @include text-link;
}

/*hover для ссылок-кнопок*/
.calendar__clear:hover,
.calendar__to-apply:hover {
  color: rgba(31, 32, 65, 0.5);
}

/*текущая дата*/
.calendar-days__current-date {
  color: #ffffff;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
}
/*цвет шрифта выделенной даты*/
.calendar-days__current-date > p,
.calendar-days__19 > p,
.calendar-days__23 > p {
  color: #ffffff;
}

/*свойства выделенной дыты*/
.calendar-days__23 {
  position: absolute;
  left: 158px;
  top: 120px;
  border-radius: 50%;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}

.calendar-days__19 {
  position: absolute;
  left: 0px;
  top: 120px;
  border-radius: 50%;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}

/*подсветка выбранного диапазона */
.calendar-days__date-range {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  opacity: 0.25;
}

.calendar-days__highlighted19 {
  box-shadow: inset 20px 0 white;
}
.calendar-days__highlighted23 {
  box-shadow: inset -20px 0 white;
}
