@import '../mixins.scss';

/*  свойства формы */

.number-card__luxury {
  @include form;
  width: 270px;
  height: 257px;
  left: 980px;
  top: 559.5px;
}

/* свойства изображения */
.number-card__room888 {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* основной заголовок */

.number-card__h1 {
  @include landing-h2;
  width: 60px;
  height: 21px;
  left: 20px;
  top: 171px;
}

/* свойства № */

.number-card__h1 > span {
  font-size: 14px;
  line-height: 17px;
}

/* свойства параграфа люкс */
.number-card-p__luxury {
  @include text-link;
  position: absolute;
  width: 41px;
  height: 15px;
  left: 80px;
  top: 178px;
}

/* цена за сутки */

.number-card-p__price-per-day {
  @include copyright-text;
  width: 100px;
  height: 20px;
  left: 153px;
  top: 176px;
  font-weight: bold;
  color: rgba(31, 32, 65, 0.5);
}

.number-card-p__price-per-day > span {
  font-weight: normal;
  font-size: 12px;
}

/*блок звёзды*/
.number-card__stars {
  position: absolute;
  top: 214px;
  left: 20.26px;
  width: 120px;
  height: 24px;
}
/* звёзды */

.number-card-stars__star1 {
  @include stars;
  left: 0px;
  background-clip: text;
  -webkit-background-clip: text;
}
.number-card-stars__star2 {
  @include stars;
  left: 24px;
  background-clip: text;
  -webkit-background-clip: text;
}
.number-card-stars__star3 {
  @include stars;
  left: 48px;
  background-clip: text;
  -webkit-background-clip: text;
}
.number-card-stars__star4 {
  @include stars;
  left: 72px;
  background-clip: text;
  -webkit-background-clip: text;
}
.number-card-stars__star5 {
  @include stars;
  left: 95.74px;
  background-clip: text;
  -webkit-background-clip: text;
}

/* отзывы */

.number-card-p__reviews {
  @include copyright-text;
  width: 90px;
  height: 18px;
  font-weight: bold;
  left: 160px;
  top: 217.56px;
}
.number-card-p__reviews > span {
  font-weight: normal;
}

/* шарики */

.number-card__ellipce1 {
  @include ellipce;
  border: none;
  background: #ffffff;
  left: 218px;
}

.number-card__ellipce2 {
  @include ellipce;
  left: 228px;
}
.number-card__ellipce3 {
  @include ellipce;
  left: 238px;
}
.number-card__ellipce4 {
  @include ellipce;
  left: 248px;
}

/* вперед назад */

.number-card_expand-more-left {
  @include expand_more;
  top: 54px;
  left: 0px;
  transform: rotate(90deg);
  color: #ffffff;
}

.number-card_expand-more-right {
  @include expand_more;
  top: 54px;
  right: 0px;
  transform: rotate(-90deg);
  color: #ffffff;
}

.number-card__line {
  position: absolute;
  width: 230px;
  height: 1px;
  left: 20px;
  top: 205px;
  background: rgba(31, 32, 65, 0.1);
}
