@charset "UTF-8";
/*миксин текста копирайта*/
/*миксин заголовков h2*/
/* миксин свойства заголовков*/
/* маркер */
/*миксин кнопок дропдауна +*/
/*миксин кнопок дропдауна -*/
/*миксин блока навигации/регистрации/футера/копирайта*/
/*миксин кнопок*/
/*миксин маленьких кнопок*/
/*свойства пунктов меню*/
/* дни недели */
/* счётчики */
/* свойства изображения expand more*/
/*миксин для placeholder*/
/* общие свойства для input w 318*/
/* общие свойства для input w 266*/
/*миксин свойст для полей w 150*/
/*сердце*/
/*счётчик лайков*/
/*миксин параграф*/
/*mixin для рамки checkbox*/
/*шарики*/
/*звёзды*/
/*миксин карточек*/
/*миксин свойств вложенных блоков*/
/*миксин для правой стрелки*/
/* миксин свойств для оформления текста в кнопке*/
/*миксин заголовка h3 */
/*миксин свойства формы*/
/*миксин свойств контента блоков*/
/* свойства формы */
.searching-results {
  position: absolute;
  width: 380px;
  height: 512px;
  left: 560px;
  top: 104px;
  position: absolute;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

/* основной заголовок */
.searching-results__h1 {
  position: absolute;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  color: #1f2041;
  font-size: 24px;
  line-height: 29px;
  width: 69px;
  height: 30px;
  left: 30px;
  top: 40px;
}

/*свойства №*/
.searching-results-h1__span {
  font-size: 14px;
  line-height: 18px;
}

/* свойства параграфа люкс */
.searching-results__luxury {
  position: absolute;
  width: 41px;
  height: 15px;
  left: 107px;
  top: 52px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  color: #bc9cff;
}

/* свойства параграфа цена засутки */
.searching__per-day {
  position: absolute;
  position: absolute;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
  font-weight: bold;
  left: 250px;
  top: 50px;
  color: rgba(31, 32, 65, 0.5);
}

.searching__per-day > span {
  font-weight: normal;
  font-size: 12px;
}

/* подписи для поля дат */
.searching-results-header__arrival {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
  position: absolute;
  width: 83px;
  left: 30px;
  top: 90px;
}

.searching-results-header__departure {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
  position: absolute;
  width: 83px;
  left: 200px;
  top: 90px;
}

/*заголовок поля гости*/
.searching-results-header__gast {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
  position: absolute;
  width: 43px;
  top: 175px;
  left: 30px;
}

/* поля дат */
.searching-results__arrival-date {
  left: 30px;
  top: 110px;
  padding-left: 15px;
  position: absolute;
  width: 150px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.searching-results__date-of-departure {
  padding-left: 15px;
  position: absolute;
  width: 150px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  left: 200px;
  top: 110.44px;
}

/* блоки изображений полей дат*/
.searching-results-arrival-date__expand-more {
  position: absolute;
  width: 44px;
  height: 44px;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(31, 32, 65, 0.5);
  cursor: pointer;
  left: 136px;
  top: 110px;
}

.searching-results-date-of-departure__expand-more {
  left: 306px;
  top: 111px;
  position: absolute;
  width: 44px;
  height: 44px;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(31, 32, 65, 0.5);
  cursor: pointer;
}

/* поле гости */
.searching-results__gast {
  width: 320px;
  height: 44px;
  position: absolute;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  padding-left: 15px;
  left: 30px;
  top: 195px;
}

/* блок изображения поля гости */
.searching-results-gast__expand-more {
  position: absolute;
  width: 44px;
  height: 44px;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(31, 32, 65, 0.5);
  cursor: pointer;
  left: 305.74px;
  top: 194.56px;
}

/* параграфы */
.searcning-results__p1 {
  position: absolute;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  height: 24px;
  width: 116px;
  top: 252.56px;
  left: 30px;
}

.searcning-results__p2 {
  position: absolute;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  height: 24px;
  width: 214px;
  top: 283px;
  left: 30px;
}

.searcning-results__p3 {
  position: absolute;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  height: 36px;
  width: 214px;
  top: 316px;
  left: 30px;
  line-height: 18px;
}

.searcning-results__p4 {
  position: absolute;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  top: 252.56px;
  height: 24px;
  width: 57px;
  right: 30px;
}

.searcning-results__p5 {
  position: absolute;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  height: 24px;
  width: 20px;
  top: 283px;
  right: 30px;
}

.searcning-results__p6 {
  position: absolute;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  top: 314px;
  height: 24px;
  width: 37px;
  right: 30px;
}

/* заголовки итого и сумма */
.searching-results-h2__total {
  position: absolute;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
  color: #1f2041;
  width: 60px;
  height: 24px;
  left: 30px;
  top: 390px;
}

.searching-results-h2__summ {
  position: absolute;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
  color: #1f2041;
  width: 60px;
  height: 24px;
  right: 47px;
  top: 390px;
  white-space: nowrap;
}

/* кнопка забронировать */
.searching-results-link__to-book {
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff)) padding-box, -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9)) border-box;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(#bc9cff, #8ba4f9) border-box;
  border: 2px solid transparent;
  border-radius: 22px;
  margin-right: 20px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #bc9cff;
  top: 437.56px;
  left: 30px;
  width: 320px;
}

/*стрелка*/
.searching-results-link-to-book__arrow-forward {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  position: absolute;
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 437.56px;
  left: 306px;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*hover для кнопки*/
.searching-results-link__to-book:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  color: #ffffff;
  border: none;
}

.searching-results__link:hover .searching-results-link__to-book {
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  color: #ffffff;
  border: none;
}

.searching-results__link:hover .searching-results-link-to-book__arrow-forward {
  background: white;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* placeholder */
.searching-results__arrival-date::-webkit-input-placeholder {
  width: 103px;
  height: 24px;
  height: 18px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  color: rgba(31, 32, 65, 0.75);
}
.searching-results__arrival-date:-ms-input-placeholder {
  width: 103px;
  height: 24px;
  height: 18px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  color: rgba(31, 32, 65, 0.75);
}
.searching-results__arrival-date::-ms-input-placeholder {
  width: 103px;
  height: 24px;
  height: 18px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  color: rgba(31, 32, 65, 0.75);
}
.searching-results__arrival-date::placeholder {
  width: 103px;
  height: 24px;
  height: 18px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  color: rgba(31, 32, 65, 0.75);
}

.searching-results__date-of-departure::-webkit-input-placeholder {
  width: 103px;
  height: 24px;
  height: 18px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  color: rgba(31, 32, 65, 0.75);
}

.searching-results__date-of-departure:-ms-input-placeholder {
  width: 103px;
  height: 24px;
  height: 18px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  color: rgba(31, 32, 65, 0.75);
}

.searching-results__date-of-departure::-ms-input-placeholder {
  width: 103px;
  height: 24px;
  height: 18px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  color: rgba(31, 32, 65, 0.75);
}

.searching-results__date-of-departure::placeholder {
  width: 103px;
  height: 24px;
  height: 18px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  color: rgba(31, 32, 65, 0.75);
}

.searching-results__gast::-webkit-input-placeholder {
  width: 50px;
  height: 24px;
  height: 18px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  color: rgba(31, 32, 65, 0.75);
}

.searching-results__gast:-ms-input-placeholder {
  width: 50px;
  height: 24px;
  height: 18px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  color: rgba(31, 32, 65, 0.75);
}

.searching-results__gast::-ms-input-placeholder {
  width: 50px;
  height: 24px;
  height: 18px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  color: rgba(31, 32, 65, 0.75);
}

.searching-results__gast::placeholder {
  width: 50px;
  height: 24px;
  height: 18px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  color: rgba(31, 32, 65, 0.75);
}

/* информационые кнопки */
.searching-results__information1 {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 250px;
  top: 283.56px;
  cursor: pointer;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
}

.searching-results__information2 {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 250px;
  top: 317.56px;
  cursor: pointer;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
}

.searching-results-information__p {
  position: absolute;
  left: 6.5px;
  top: 2px;
  font-family: 'Montserrat';
  width: 4px;
  height: 14px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  color: rgba(31, 32, 65, 0.25);
}
/*# sourceMappingURL=searching_results.css.map */