@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.eot");
  src: local("☺"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.eot");
  src: local("☺"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Italic.eot");
  src: local("☺"), url("../fonts/Montserrat-Italic.woff") format("woff"), url("../fonts/Montserrat-Italic.ttf") format("truetype"), url("../fonts/Montserrat-Italic.svg") format("svg");
  font-weight: normal;
  font-style: italic;
}
/*миксин текста копирайта*/
/*миксин заголовков h2*/
/* миксин свойства заголовков*/
/* маркер */
/*миксин кнопок дропдауна +*/
/*миксин кнопок дропдауна -*/
/*миксин блока навигации/регистрации/футера/копирайта*/
/*миксин кнопок*/
/*миксин маленьких кнопок*/
/*свойства пунктов меню*/
/* дни недели */
/* счётчики */
/* свойства изображения expand more*/
/*миксин для placeholder*/
/* общие свойства для input w 318*/
/* общие свойства для input w 266*/
/*миксин свойст для полей w 150*/
/*сердце*/
/*счётчик лайков*/
/*миксин параграф*/
/*mixin для рамки checkbox*/
/*шарики*/
/*звёзды*/
/*миксин карточек*/
/*миксин свойств вложенных блоков*/
/*миксин для правой стрелки*/
/* миксин свойств для оформления текста в кнопке*/
/*миксин заголовка h3 */
/*миксин свойства формы*/
/*миксин свойств контента блоков*/
/* свойства формы*/
.search-room {
  height: 374px;
  width: 380px;
  left: 140px;
  top: 150px;
  position: absolute;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

/* свойства основного заголовка*/
h1 {
  position: absolute;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  color: #1f2041;
  font-size: 24px;
  line-height: 29px;
  width: 320px;
  height: 59px;
  left: 30px;
  top: 40px;
}

/*свойства заголовков полей*/
.search-room-header__arrival {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
  position: absolute;
  width: 83px;
  height: 15px;
  left: 30px;
  top: 120px;
}

.search-room-header__departure {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
  position: absolute;
  width: 83px;
  height: 15px;
  left: 200px;
  top: 120px;
}

.search-room-header__gast {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
  position: absolute;
  width: 43px;
  height: 15px;
  top: 205px;
  left: 30px;
}

/* поля дат*/
.search-room__arrival-date {
  left: 30px;
  top: 140.44px;
  padding-left: 15px;
  position: absolute;
  width: 150px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
}

.search-room__date-of-departure {
  left: 200px;
  top: 140.44px;
  padding-left: 15px;
  position: absolute;
  width: 150px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
}

/* блоки изображений */
.search-room-arrival-date__expand-more {
  position: absolute;
  width: 44px;
  height: 44px;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(31, 32, 65, 0.5);
  cursor: pointer;
  left: 135px;
  top: 139.5px;
}

.search-room-date-of-departure__expand-more {
  position: absolute;
  width: 44px;
  height: 44px;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(31, 32, 65, 0.5);
  cursor: pointer;
  left: 305px;
  top: 139.5px;
}

/* поле гости */
.search-room__gast {
  width: 320px;
  height: 44px;
  position: absolute;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 2px;
  padding-left: 15px;
  left: 30px;
  top: 225px;
}

/* dropdown */
/*свойства картинки expand-more */
.search-room-dropdown__expand-more {
  position: absolute;
  width: 44px;
  height: 44px;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(31, 32, 65, 0.5);
  cursor: pointer;
  left: 305.74px;
  top: 225.56px;
}

/*свойства формы dropdown*/
.dropdown {
  display: none;
  position: absolute;
  width: 320px;
  height: 159px;
  left: 30px;
  top: 269px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: none;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  z-index: 1000;
}

/*свойства кнопок +/-*/
.dropdown__circle-plus1 {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  box-sizing: border-box;
  border-radius: 22px;
  cursor: pointer;
  left: 283px;
  top: 7px;
}

.dropdown__circle-plus2 {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  box-sizing: border-box;
  border-radius: 22px;
  cursor: pointer;
  left: 283px;
  top: 44px;
}

.dropdown__circle-plus3 {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  box-sizing: border-box;
  border-radius: 22px;
  cursor: pointer;
  left: 283px;
  top: 82px;
}

.dropdown__circle-minus1 {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 22px;
  left: 221px;
  top: 7px;
}

.dropdown__circle-minus2 {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 22px;
  left: 221px;
  top: 44px;
}

.dropdown__circle-minus3 {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 22px;
  left: 221px;
  top: 82px;
}

/*подписи кнопок +/-*/
.dropdown-p__minus {
  font-family: "Montserrat";
  text-align: center;
  color: rgba(31, 32, 65, 0.5);
  position: absolute;
  top: 3px;
  left: 11px;
}

.dropdown-p__plus {
  font-family: "Montserrat";
  text-align: center;
  color: rgba(31, 32, 65, 0.5);
  position: absolute;
  top: 4px;
  left: 9px;
}

/* совйства списка dropdown*/
.dropdown__p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
  margin-bottom: 18px;
  margin-left: 15px;
  width: 83px;
  height: 15px;
}

.first {
  margin-top: 11px;
}

/* кнопка очистить*/
.dropdown__link1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  color: #bc9cff;
  width: 72px;
  height: 15px;
  position: absolute;
  top: 131px;
  left: 14px;
}

/*кнопка применить*/
.dropdown__link2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  color: #bc9cff;
  width: 84px;
  height: 15px;
  position: absolute;
  right: 7px;
  top: 131px;
}

.search-room-dropdown__expand-more:active ~ .dropdown {
  display: block;
}

/* кнопка подобрать номер*/
.search-room__pick-up-a-room {
  position: absolute;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(#bc9cff, #8ba4f9) border-box;
  border: 2px solid transparent;
  border-radius: 22px;
  margin-right: 20px;
  height: 42px;
  display: flex;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #bc9cff;
  top: 300px;
  left: 30px;
  width: 318px;
}

/*картинка для кнопки подобрать номер*/
.search-room-pick-up-a-room {
  position: absolute;
  width: 44px;
  height: 44px;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(31, 32, 65, 0.5);
  cursor: pointer;
  top: 300px;
  left: 306px;
}

/*hover для кнопки подобрать номер*/
.search-room__pick-up-a-room:hover {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  color: #ffffff;
  border: none;
}

.search-room-link:hover .search-room-pick-up-a-room {
  background: white;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.search-room-link:hover .search-room__pick-up-a-room {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  color: #ffffff;
  border: none;
}

/* plceholder */
.search-room__gast::-moz-placeholder {
  height: 18px;
  width: 112px;
  height: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
}
.search-room__gast:-ms-input-placeholder {
  height: 18px;
  width: 112px;
  height: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
}
.search-room__gast::placeholder {
  height: 18px;
  width: 112px;
  height: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
}

.search-room__arrival-date::-moz-placeholder {
  height: 24px;
  width: 103px;
  height: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
}

.search-room__arrival-date:-ms-input-placeholder {
  height: 24px;
  width: 103px;
  height: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
}

.search-room__arrival-date::placeholder {
  height: 24px;
  width: 103px;
  height: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
}

.search-room__date-of-departure::-moz-placeholder {
  height: 24px;
  width: 103px;
  height: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
}

.search-room__date-of-departure:-ms-input-placeholder {
  height: 24px;
  width: 103px;
  height: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
}

.search-room__date-of-departure::placeholder {
  height: 24px;
  width: 103px;
  height: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
}/*# sourceMappingURL=search-room.css.map */