form.search-room(action="#")
  h1 Найдём номера под ваши пожелания
  h3.search-room-header__arrival-date прибытие
  h3.search-room-header__date-of-departure  выезд
  
  input.search-room-input__arrival-date(type="text" placeholder="ДД.ММ.ГГГГ")
  .search-room-arrival-date__expand-more.material-icons-outlined expand_more
    
  
  input.search-room-input__date-of-departure(type="text" placeholder="ДД.ММ.ГГГГ")
  .search-room-date-of-departure__expand-more.material-icons-outlined expand_more
  
  
  h3.search-room-header__gast гости
  input.search-room-input__gast(type="text" placeholder="Сколько гостей")
  .search-room-gast__expand-more.material-icons-outlined expand_more
  .dropdown-gast-filled-in__form
    +dropdown('взрослые', 'дети', 'младенцы','2','1','0','очистить','применить')

  .search-room__button
    .search-room-button__div-pick-up-a-room Подобрать номер
    a.search-room-button__pick-up-a-room(href="#") 
    .material-icons-outlined.search-room-button__arrow-forward  arrow_forward  

  