.checkbox-block
  label
    input.checkbox-block__input(type="checkbox")
    .checkbox-list__div
    | Завтрак  
  label
    input.checkbox-block__input(type="checkbox" checked='')
    .checkbox-list__div
    | Письменный стол
  label
    input.checkbox-block__input(type="checkbox" checked='')
    .checkbox-list__div
    | Стул для кормления
  label
    input.checkbox-block__input(type="checkbox" checked='')
    .checkbox-list__div
    | Кроватка
  label
    input.checkbox-block__input(type="checkbox")
    .checkbox-list__div
    | Телевизор
  label
    input.checkbox-block__input(type="checkbox")
    .checkbox-list__div 
    | Шампунь 
