.checkbox-block
  label
    input.checkbox-block-label__input(type="checkbox")
    .checkbox-block-label__custom
    | Завтрак  
  label
    input.checkbox-block-label__input(type="checkbox" checked='')
    .checkbox-block-label__custom
    | Письменный стол
  label
    input.checkbox-block-label__input(type="checkbox" checked='')
    .checkbox-block-label__custom
    | Стул для кормления
  label
    input.checkbox-block-label__input(type="checkbox" checked='')
    .checkbox-block-label__custom
    | Кроватка
  label
    input.checkbox-block-label__input(type="checkbox")
    .checkbox-block-label__custom
    | Телевизор
  label
    input.checkbox-block-label__input(type="checkbox")
    .checkbox-block-label__custom 
    | Шампунь 
