@import "../mixins.scss";

/* свойства формы*/

.search-room {
  height: 374px;
  width: 380px;
  left: 140px;
  top: 140px;
  @include form;
  z-index: 1;
}
/*свойства заголовка формы*/
.search-room > h1 {
  @include headers;
  width: 320px;
  height: 59px;
  left: 30px;
  top: 40px;
}
/*подзаголовок поля дата прибытия*/
.search-room-header__arrival-date {
  @include headers3;
  position: absolute;
  width: 83px;
  height: 15px;
  left: 30px;
  top: 120px;
}

/*подзаголовок поля дата отъезда*/
.search-room-header__date-of-departure {
  @include headers3;
  position: absolute;
  width: 83px;
  height: 15px;
  left: 200px;
  top: 120px;
}

/*подзаголовок поля дата гости*/
.search-room-header__gast {
  @include headers3;
  position: absolute;
  width: 43px;
  height: 15px;
  top: 205px;
  left: 30px;
}

/* поля дат*/
.search-room-input__arrival-date {
  @include input-mini;
  left: 30px;
  top: 140.44px;
  border-radius: 4px;
}

.search-room-input__date-of-departure {
  left: 200px;
  top: 140.44px;
  border-radius: 4px;
  @include input-mini;
}

/* блоки изображений */
.search-room-arrival-date__expand-more {
  @include expand_more;
  left: 136px;
  top: 140px;
}

.search-room-date-of-departure__expand-more {
  @include expand_more;
  left: 306px;
  top: 140px;
}

.search-room-gast__expand-more {
  @include expand_more;
  top: 225.56px;
  left: 305.74px;
}

/* поле гости */

.search-room-input__gast {
  position: absolute;
  left: 30px;
  top: 225px;
  @include input-max;
  border-radius: 4px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* блок кнопки */

.search-room__button {
  position: absolute;
  top: 300px;
  left: 30px;
  width: 320px;
  height: 44px;
}

/*подпись кнопки */
.search-room-button__div-pick-up-a-room {
  @include text-link;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  width: 280px;
  top: 14px;
  left: 18px;
  color: #fff;
  text-align: center;
}

/*свойства кнопки*/
.search-room-button__pick-up-a-room {
  @include button;
  top: 0px;
  left: 0px;
  width: 320px;
}

/*стрелка*/
.search-room-button__arrow-forward {
  @include arrow_forvard;
  position: absolute;
  left: 274px;
  top: 0px;
  background: #fff;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

/*hover*/
.search-room__button:hover .search-room-button__pick-up-a-room {
  opacity: 0.5;
}

/* plceholder */
.search-room-input__gast::placeholder {
  height: 18px;
  width: 112px;
  @include input-placeholder;
  color: rgba(31, 32, 65, 0.75);
}

.search-room-input__arrival-date::placeholder,
.search-room-input__date-of-departure::placeholder {
  width: 103px;
  height: 24px;
  @include input-placeholder;
  color: rgba(31, 32, 65, 0.75);
}

.adults {
  top: 13px;
  @include counter;
}
.children {
  top: 50px;
  @include counter;
}
.babies {
  top: 87px;
  @include counter;
}

/* dropdown form*/

.dropdown-gast-filled-in__form {
  display: block;
  width: 320px;
  height: 159px;
  left: 30px;
  top: 267px;
  @include form;
  border: rgba(31, 32, 65, 0.25) 1px solid;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  z-index: 1000;
}
