@charset "UTF-8";
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.eot");
  src: local("☺"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Bold.eot");
  src: local("☺"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Italic.eot");
  src: local("☺"), url("../fonts/Montserrat-Italic.woff") format("woff"), url("../fonts/Montserrat-Italic.ttf") format("truetype"), url("../fonts/Montserrat-Italic.svg") format("svg");
  font-weight: normal;
  font-style: italic;
}

/*миксин текста копирайта*/
/*миксин заголовков h2*/
/* миксин свойства заголовков*/
/* маркер */
/*миксин кнопок дропдауна +*/
/*миксин кнопок дропдауна -*/
/*миксин блока навигации/регистрации/футера/копирайта*/
/*миксин кнопок*/
/*миксин маленьких кнопок*/
/*свойства пунктов меню*/
/* дни недели */
/* счётчики */
/* свойства изображения expand more*/
/*миксин для placeholder*/
/* общие свойства для input w 318*/
/* общие свойства для input w 266*/
/*миксин свойст для полей w 150*/
/*сердце*/
/*счётчик лайков*/
/*миксин параграф*/
/*mixin для рамки checkbox*/
/*шарики*/
/*звёзды*/
/*миксин карточек*/
/*миксин свойств вложенных блоков*/
/*миксин для правой стрелки*/
/* миксин свойств для оформления текста в кнопке*/
/*миксин заголовка h3 */
/*миксин свойства формы*/
/*миксин свойств контента блоков*/
/* свойства формы*/
.search-room {
  height: 374px;
  width: 380px;
  left: 140px;
  top: 140px;
  position: absolute;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 1;
}

/*свойства заголовка формы*/
.search-room > h1 {
  position: absolute;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  color: #1f2041;
  font-size: 24px;
  line-height: 29px;
  width: 320px;
  height: 59px;
  left: 30px;
  top: 40px;
}

/*подзаголовок поля дата прибытия*/
.search-room-header__arrival-date {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
  position: absolute;
  width: 83px;
  height: 15px;
  left: 30px;
  top: 120px;
}

/*подзаголовок поля дата отъезда*/
.search-room-header__date-of-departure {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
  position: absolute;
  width: 83px;
  height: 15px;
  left: 200px;
  top: 120px;
}

/*подзаголовок поля дата гости*/
.search-room-header__gast {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
  position: absolute;
  width: 43px;
  height: 15px;
  top: 205px;
  left: 30px;
}

/* поля дат*/
.search-room-input__arrival-date {
  padding-left: 15px;
  position: absolute;
  width: 150px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  left: 30px;
  top: 140.44px;
  border-radius: 4px;
}

.search-room-input__date-of-departure {
  left: 200px;
  top: 140.44px;
  border-radius: 4px;
  padding-left: 15px;
  position: absolute;
  width: 150px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

/* блоки изображений */
.search-room-arrival-date__expand-more {
  position: absolute;
  width: 44px;
  height: 44px;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(31, 32, 65, 0.5);
  cursor: pointer;
  left: 136px;
  top: 140px;
}

.search-room-date-of-departure__expand-more {
  position: absolute;
  width: 44px;
  height: 44px;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(31, 32, 65, 0.5);
  cursor: pointer;
  left: 306px;
  top: 140px;
}

.search-room-gast__expand-more {
  position: absolute;
  width: 44px;
  height: 44px;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(31, 32, 65, 0.5);
  cursor: pointer;
  top: 225.56px;
  left: 305.74px;
}

/* поле гости */
.search-room-input__gast {
  position: absolute;
  left: 30px;
  top: 225px;
  width: 318px;
  height: 42px;
  position: absolute;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  padding-left: 15px;
  border-radius: 4px;
}

/* блок кнопки */
.search-room__button {
  position: absolute;
  top: 300px;
  left: 30px;
  width: 320px;
  height: 44px;
  background: green 1px solid;
}

/*подпись кнопки */
.search-room-button__div-pick-up-a-room {
  position: absolute;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  color: #bc9cff;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  width: 280px;
  top: 14px;
  left: 18px;
  color: #fff;
  text-align: center;
}

/*свойства кнопки*/
.search-room-button__pick-up-a-room {
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(#bc9cff, #8ba4f9);
  border-radius: 22px;
  height: 44px;
  width: 320px;
  text-transform: uppercase;
  text-decoration: none;
  top: 0px;
  left: 0px;
  width: 320px;
}

/*стрелка*/
.search-room-button__arrow-forward {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  position: absolute;
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 274px;
  top: 0px;
  background: #fff;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

/*hover*/
.search-room__button:hover .search-room-button__pick-up-a-room {
  opacity: 0.5;
}

/* plceholder */
.search-room-input__gast::-webkit-input-placeholder {
  height: 18px;
  width: 112px;
  height: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  color: rgba(31, 32, 65, 0.75);
}
.search-room-input__gast:-ms-input-placeholder {
  height: 18px;
  width: 112px;
  height: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  color: rgba(31, 32, 65, 0.75);
}
.search-room-input__gast::-ms-input-placeholder {
  height: 18px;
  width: 112px;
  height: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  color: rgba(31, 32, 65, 0.75);
}
.search-room-input__gast::placeholder {
  height: 18px;
  width: 112px;
  height: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  color: rgba(31, 32, 65, 0.75);
}

.search-room-input__arrival-date::-webkit-input-placeholder,
.search-room-input__date-of-departure::-webkit-input-placeholder {
  width: 103px;
  height: 24px;
  height: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  color: rgba(31, 32, 65, 0.75);
}

.search-room-input__arrival-date:-ms-input-placeholder,
.search-room-input__date-of-departure:-ms-input-placeholder {
  width: 103px;
  height: 24px;
  height: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  color: rgba(31, 32, 65, 0.75);
}

.search-room-input__arrival-date::-ms-input-placeholder,
.search-room-input__date-of-departure::-ms-input-placeholder {
  width: 103px;
  height: 24px;
  height: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  color: rgba(31, 32, 65, 0.75);
}

.search-room-input__arrival-date::placeholder,
.search-room-input__date-of-departure::placeholder {
  width: 103px;
  height: 24px;
  height: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  color: rgba(31, 32, 65, 0.75);
}

.adults {
  top: 13px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: #1f2041;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15px;
  width: 92px;
  right: 7px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
}

.children {
  top: 50px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: #1f2041;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15px;
  width: 92px;
  right: 7px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
}

.babies {
  top: 87px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: #1f2041;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15px;
  width: 92px;
  right: 7px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
}

/* dropdown form*/
.dropdown-gast-filled-in__form {
  display: block;
  width: 320px;
  height: 159px;
  left: 30px;
  top: 269px;
  position: absolute;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 1000;
}
/*# sourceMappingURL=search-room.css.map */