.dropdown-expanded__form
  p.dropdown__p.first спальни 
  p.dropdown__p кровати 
  p.dropdown__p ванные комнаты
  .dropdown__circle-plus1
    p.dropdown-p__plus +
  .dropdown__circle-plus2
    p.dropdown-p__plus +
  .dropdown__circle-plus3 
    p.dropdown-p__plus +
  .dropdown__circle-minus1
    p.dropdown-p__minus -
  .dropdown__circle-minus2
    p.dropdown-p__minus -
  .dropdown__circle-minus3
    p.dropdown-p__minus.last -
