@import "../mixins.scss";

// Форма account_login

.account-login {
  width: 380px;
  height: 358px;
  left: 530px;
  top: 242px;
  @include form;
  border-radius: 4px;
  z-index: 5;
}

.account-login > h1 {
  width: 320px;
  height: 30px;
  left: 30px;
  top: 40px;
  @include headers;
}

.account-login__input-email {
  @include input-max;
  left: 30px;
  top: 90px;
}

.account-login__input-password {
  @include input-max;
  left: 30px;
  top: 144px;
}

.account-login > p {
  position: absolute;
  width: 164px;
  height: 18px;
  left: 30px;
  top: 292px;
  @include paragraf2;
}

/*блок кнопки войти*/

.account-login__button-to-come-in {
  position: absolute;
  top: 208px;
  left: 30px;
  width: 320px;
  height: 44px;
  cursor: pointer;
}

/* кнопка войти */
.account-login-button-to-come-in__a {
  @include button;
  width: 320px;
}
.account-login-button-to-come-in__p {
  @include text-link;
  left: 20px;
  top: 14px;
  color: #ffffff;
  width: 280px;
  height: 15px;
  text-align: center;
}

.account-login-button-to-come-in{
  @include arrow_forvard;
  color:#ffffff;
  left: 276px;
}

/*блок кнопки создать */
.account-login__button-create{
  position: absolute;
  left: 251px;
  top: 282px;
  width: 99px;
  height: 44px;
  cursor:pointer;
}

/* кнопка создать */

.account-login-button-create__a {
  @include button_mini;
}


/* подпись к кнопке создать */

.account-login-button-create__p{
  @include text-link;
  top: 14px;
  left: 18px;
  height: 15px;
  width: 62px;
}

/* hover для кнопок */

.account-login__button-to-come-in:hover .account-login-button-to-come-in__a,
.account-login__button-create:hover .account-login-button-create__a {
  opacity: 0.5;
}

.block-link-image:hover .account-login-link-image_to-come-in {
  fill: white;
}

/* картинка для кнопки вход */

.account-login-link-image_to-come-in {
  position: absolute;
  left: 290px;
  top: 13px;
  fill: url("#paint0_linear");
}

input.account-login-input-password::placeholder {
  @include input-placeholder;
  width: 55px;
}
input.account-login-input-email::placeholder {
  @include input-placeholder;
  width: 40px;
}
