@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.eot");
  src: local("☺"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.eot");
  src: local("☺"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Italic.eot");
  src: local("☺"), url("../fonts/Montserrat-Italic.woff") format("woff"), url("../fonts/Montserrat-Italic.ttf") format("truetype"), url("../fonts/Montserrat-Italic.svg") format("svg");
  font-weight: normal;
  font-style: italic;
}
/*миксин текста копирайта*/
/*миксин заголовков h2*/
/* миксин свойства заголовков*/
/* маркер */
/*миксин кнопок дропдауна +*/
/*миксин кнопок дропдауна -*/
/*миксин блока навигации/регистрации/футера/копирайта*/
/*миксин кнопок*/
/*миксин маленьких кнопок*/
/*свойства пунктов меню*/
/* дни недели */
/* счётчики */
/* свойства изображения expand more*/
/*миксин для placeholder*/
/* общие свойства для input w 318*/
/* общие свойства для input w 266*/
/*миксин свойст для полей w 150*/
/*сердце*/
/*счётчик лайков*/
/*миксин параграф*/
/*mixin для рамки checkbox*/
/*шарики*/
/*звёзды*/
/*миксин карточек*/
/*миксин свойств вложенных блоков*/
/*миксин для правой стрелки*/
/* миксин свойств для оформления текста в кнопке*/
/*миксин заголовка h3 */
/*миксин свойства формы*/
/*миксин свойств контента блоков*/
/*блок кнопок*/
.buttons {
  height: 195px;
  width: 218px;
  left: 979px;
  top: 231px;
  position: absolute;
}

.buttons > h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
}

/*кнопка 1*/
.buttons__a1 {
  position: absolute;
  width: 97px;
  height: 44px;
  border-radius: 22px;
  display: flex;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #bc9cff;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  left: 0px;
  top: 31px;
  color: #ffffff;
  width: 99px;
}

/*кнопка 2*/
.buttons__a2 {
  position: absolute;
  width: 97px;
  height: 44px;
  border-radius: 22px;
  display: flex;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #bc9cff;
  left: 119px;
  top: 31px;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  opacity: 0.5;
  color: #ffffff;
  width: 99px;
}

.buttons-a2__p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  color: #bc9cff;
  position: absolute;
  color: #ffffff;
  top: 45px;
  left: 139px;
}

/*кнопка 3*/
.buttons__a3 {
  position: absolute;
  width: 97px;
  height: 44px;
  border-radius: 22px;
  display: flex;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #bc9cff;
  height: 42px;
  top: 105px;
  left: 0px;
  background-image: linear-gradient(white, white), linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border: 2px solid transparent;
}

/*кнопка 4*/
.buttons__a4 {
  position: absolute;
  width: 97px;
  height: 44px;
  border-radius: 22px;
  display: flex;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #bc9cff;
  height: 42px;
  top: 105px;
  left: 119px;
  opacity: 0.5;
  color: #bc9cff;
  background-image: linear-gradient(white, white), linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border: 2px solid transparent;
}

.buttons-a4__p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  color: #bc9cff;
  position: absolute;
  width: 59px;
  height: 15px;
  left: 139px;
  top: 119px;
}

/*кнопка 5*/
.buttons__a5 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  color: #bc9cff;
  position: absolute;
  width: 99px;
  height: 44px;
  left: 1px;
  top: 180px;
}

/*кнопка 6*/
.buttons__a6 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  color: #bc9cff;
  position: absolute;
  width: 99px;
  height: 44px;
  left: 82px;
  top: 180px;
  color: rgba(31, 32, 65, 0.5);
}

/* кнопка перейти к оплате*/
.buttons-payment {
  position: absolute;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(#bc9cff, #8ba4f9) border-box;
  border: 2px solid transparent;
  border-radius: 22px;
  margin-right: 20px;
  height: 42px;
  display: flex;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #bc9cff;
  left: 979px;
  top: 456px;
  height: 42px;
  width: 320px;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  color: #ffffff;
}

/*белая стрелка*/
.buttons-payment__arrow_forward {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  position: absolute;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 456px;
  left: 1255px;
  background: white;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}/*# sourceMappingURL=block-buttons.css.map */