@import '../../mixins.scss';

/* радио кнопки */

.radio {
  position: absolute;
  top: 313px;
  left: 587px;
  height: 55px;
  width: 220.75px;
}

/* заголовок */
.radio > h3 {
  width: 107px;
  height: 15px;
  white-space: pre;
  @include headers3;
  margin-bottom: 12px;
}

/* скрываем стандартный радио-баттон */
.radio-label__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

/* свойства метки кнопок */

.radio-label__men {
  @include paragraf;
  height: 24px;
  width: 68px;
  position: absolute;
  padding-left: 33px;
  left: 0px;
  top: 31px;
}

.radio-label__women {
  @include paragraf;
  height: 24px;
  width: 73px;
  padding-left: 33px;
  left: 116px;
  top: 31px;
}

/* свойства кнопки none checked */

.radio-label__custom-men {
  width: 20px;
  position: absolute;
  height: 20px;
  box-shadow: 0 0 0 1px rgba(31, 32, 65, 0.25);
  border-radius: 10px;
  top: 0px;
  left: 4px;
}
.radio-label__custom-women {
  width: 20px;
  position: absolute;
  height: 20px;
  box-shadow: 0 0 0 1px rgba(31, 32, 65, 0.25);
  border-radius: 10px;
  top: 0px;
  left: 4px;
}

/* checked */

.radio-label__input:checked + .radio-label__custom-men::before,
.radio-label__input:checked + .radio-label__custom-women::before {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}

.radio-label__input:checked + .radio-label__custom-men,
.radio-label__input:checked + .radio-label__custom-women {
  box-shadow: 0 0 0 1px #bc9cff;
}

/*свойства before*/
.radio-label__custom-men::before,
.radio-label__custom-women::before {
  position: absolute;
  content: '';
  width: 12px;
  height: 12px;
  left: 4px;
  top: 4px;
  background-color: white;
  border-radius: 10px;
}
