form.account-login(action="/login" method="post")
  h1 Войти
  input.account-login__input-email(type="email" name="email" placeholder="Email")
  input.account-login__input-password(type="password" name="password" placeholder="Пароль")
  .account-login__button-to-come-in
    a.account-login-button-to-come-in__a(href="#")
    p.account-login-button-to-come-in__p Войти
    .material-icons-outlined.account-login-button-to-come-in arrow_forward
      
  .account-login__button-create
    a.account-login-button-create__a(href="#") 
    p.account-login-button-create__p Создать
  p Нет аккаунта на Toxin?  