form.account-login(action="/login" method="post")
  h1.account-login__header Войти
  input.account-login__input-email(type="email" name="email" placeholder="Email")
  input.account-login__input-password(type="password" name="password" placeholder="Пароль")
  .account-login-link
    a.account-login-link__to-come-in(href="#") Войти
    .material-icons-outlined.account-login-link-to-come-in arrow_forward
      

  a.account-login-link__create(href="#") Создать
  p Нет аккаунта на Toxin?  