form.account-registration(action="/login" method="post")
  h1.account-registration__header Регистрация аккаунта
  input.account-registration-input__name(type="text" name="name" placeholder="Имя")
  input.account-registration-input__lastname(type="text" name="lastname" placeholder="Фамилия")
  
  
  .account-registration__radio
    label.account-registration-radio__label-men 
      input.account-registration-radio-label-men__input(type='radio' name='sex' value='men' checked='')
      |         Мужчина
      .account-registration-radio-label-men-input__custom
      
    label.account-registration-radio__label-women 
      input.account-registration-radio-label-women__input(type='radio' name='sex' value='men')
      |         Женщина
      .account-registration-radio-label-women-input__custom
      
    
  h3.account-registration-header__date-of-birth Дата рождения
  input.account-registration-input__date-of-birth(type="text" placeholder="ДД.ММ.ГГГГ")
  h3.account-registration-header__login-details Данные для входа в сервис
  input.account-registration-input__email(type="email" name="email" placeholder="Email")
  input.account-registration-input__password(type="password" name="password" placeholder="Пароль")
  label.account-registration__checkbox
    input(type="checkbox" class="account-registration-checkbox__input" autocomplete='off')
    .account-registration-checkbox__custom
    p Получать спецпредложения 
  
   
  .account-registration-link
    a.account-registration-link__to-come-in(href="#") Войти
    .material-icons-outlined.account-registration-link-to-come-in arrow_forward
      

  a.account-registration-link__create(href="#") Создать
  p Уже есть аккаунт на Toxin