form.calendar(action="#") 
  h1.august Август 2019
  .material-icons-outlined.calendar__img-arrow-left arrow_forward
  .material-icons-outlined.calendar__img-arrow-right arrow_back
  .calendar__days-week-mon Пн 
  .calendar__days-week-tue Вт
  .calendar__days-week-wed Ср
  .calendar__days-week-the Чт
  .calendar__days-week-fri Пт
  .calendar__days-week-sut Сб
  .calendar__days-week-sun Вс
  .calendar__days
    .calendar-days__prev-date 29
    .calendar-days__prev-date 30
    .calendar-days__prev-date 31
    div 1
    div 2
    div 3
    div 4
    div 5
    div 6
    div 7
    .calendar-days__current-date 
      p 8  
    div 9
    div 10
    div 11
    div 12
    div 13
    div 14
    div 15
    div 16
    div 17
    div 18
    .calendar-days__highlighted19.calendar-days__date-range 
    .calendar-days__19
      p 19
    .calendar-days__date-range 20
    .calendar-days__date-range 21
    .calendar-days__date-range 22
    .calendar-days__highlighted23.calendar-days__date-range
    .calendar-days__23
      p 23
    div 24
    div 25
    div 26
    div 27
    div 28
    div 29
    div 30
    div 31
    .calendar-days__next-date 1
  a.calendar__clear(href="#") очистить
  a.calendar__to-apply(href="#") применить 
  