form.calendar(action="#") 
  h1.august Август 2019
  .material-icons-outlined.calendar-arrow-left__img arrow_forward
  .material-icons-outlined.calendar-arrow-right__img arrow_back
  .days-week_mon Пн 
  .days-week_tue Вт
  .days-week_wed Ср
  .days-week_the Чт
  .days-week_fri Пт
  .days-week_sut Сб
  .days-week_sun Вс
  .days
    .prev-date 29 
    .prev-date 30
    .prev-date 31
    div 1
    div 2
    div 3
    div 4
    div 5
    div 6
    div 7
    .days__current-date 
      p 8  
    div 9
    div 10
    div 11
    div 12
    div 13
    div 14
    div 15
    div 16
    div 17
    div 18
    .days__highlighted19.date-range 
    .days__19
      p 19
    div.date-range 20
    div.date-range 21
    div.date-range 22
    .days__highlighted23.date-range
    .days__23
      p 23
    div 24
    div 25
    div 26
    div 27
    div 28
    div 29
    div 30
    div 31
    .next-date 1
  a.calendar__clear(href="#") очистить
  a.calendar__to-apply(href="#") применить 
  