form.number-card__luxury(action="#")  
  img.number-card__room888(src="../img/room888.png", alt="room_888")
  h1.number-card__h1 
    span № 
    | 888
  p.number-card-p__luxury Люкс
  p.number-card-p__price-per-day
    | 9900₽ 
    span в сутки
  .number-card__stars
    .material-icons-outlined.number-card-stars__star1 star
    .material-icons-outlined.number-card-stars__star2 star
    .material-icons-outlined.number-card-stars__star3 star
    .material-icons-outlined.number-card-stars__star4 star
    .material-icons-outlined.number-card-stars__star5 star
  p.number-card-p__reviews 
    | 145 
    span Отзывов
  .number-card__ellipce1
  .number-card__ellipce2
  .number-card__ellipce3
  .number-card__ellipce4
  
  .material-icons-outlined.number-card_expand-more-left expand_more
  .material-icons-outlined.number-card_expand-more-right expand_more
  .number-card__line
