form.number-card(action="#")  
  img.number-card__room840(src="../img/room840.png", alt="room_840")
  h1.number-card__h1 
    span.number-card__span № 
    | 840
  p.number-card-p__price-per-day 9900₽ 
    span.number-card-span__per-day в сутки
  .number-card__star1.hover
  .number-card__star2.hover
  .number-card__star3.hover
  .number-card__star4.hover
  .number-card__star5.hover
  p.number-card__reviews 65 
    span.number-card-reviews__span Отзывов
  .number-card__ellipce1
  .number-card__ellipce2
  .number-card__ellipce3
  .number-card__ellipce4
  img.straight(src="../img/straight.svg", alt="straight")  
  
   
