form.number-card__luxury(action="#")  
  img.number-card__room888(src="img/room888.png", alt="room_888")
  h1.number-card__h1 
    span.number-card__span № 
    | 888
  p.number-card-p__luxury Люкс
  p.number-card-p__price-per-day 9900₽ 
    span.number-card-span__per-day в сутки
  .number-card__star1.hover
  .number-card__star2.hover
  .number-card__star3.hover
  .number-card__star4.hover
  .number-card__star5.hover
  p.number-card__reviews 145 
    span.number-card-reviews__span Отзывов
  .number-card__ellipce1
  .number-card__ellipce2
  .number-card__ellipce3
  .number-card__ellipce4
  
  .number-card_expand-more-left
  .number-card_expand-more-right
  img.straight(src="/img/straight.svg", alt="straight")  
