form.searching-results(action="#")
  h1.searching-results__h1 
    span.searching-results-h1__span  № 
    | 888    
  p.searching-results__luxury Люкс
  p.searching__per-day
    | 9900₽ 
    span в сутки
    
  h3.searching-results-header__arrival прибытие
  h3.searching-results-header__departure  выезд

  input.searching-results__arrival-date(type="text" placeholder='19.08.2019')
  .material-icons-outlined.searching-results-arrival-date__expand-more expand_more
    
  input.searching-results__date-of-departure(type="text" placeholder='23.08.2019')
  .searching-results-date-of-departure__expand-more.material-icons-outlined expand_more
  
  h3.searching-results-header__gast гости
  input.searching-results__gast(type="text" placeholder="3 гостя")
  .searching-results-gast__expand-more.material-icons-outlined expand_more

  p.searcning-results__p1 9 990₽ х 4 суток 
  p.searcning-results__p2 Сбор за услуги: скидка 2 179₽
  p.searcning-results__p3 Сбор за дополнительные услуги
  p.searcning-results__p4 39 960₽
  p.searcning-results__p5 0₽
  p.searcning-results__p6 300₽

  h2.searching-results-h2__total Итого
  h2.searching-results-h2__summ 38 081₽

  .searching-results__button-to-book
    a.searching-results-button-to-book__a(href="#") 
    p.searching-results-button-to-book__p Забронировать
    .material-icons-outlined.searching-results-button-to-book arrow_forward
  
  .searching-results__information1
    p.searching-results-information__p i
  .searching-results__information2
    p.searching-results-information__p i