@charset "UTF-8";
/*миксин текста копирайта*/
/*миксин заголовков h2*/
/* миксин свойства заголовков*/
/* маркер */
/*миксин кнопок дропдауна +*/
/*миксин кнопок дропдауна -*/
/*миксин блока навигации/регистрации/футера/копирайта*/
/*миксин кнопок*/
/*миксин маленьких кнопок*/
/*свойства пунктов меню*/
/* дни недели */
/* счётчики */
/* свойства изображения expand more*/
/*миксин для placeholder*/
/* общие свойства для input w 318*/
/* общие свойства для input w 266*/
/*миксин свойст для полей w 150*/
/*сердце*/
/*счётчик лайков*/
/*миксин параграф*/
/*mixin для рамки checkbox*/
/*шарики*/
/*звёзды*/
/*миксин карточек*/
/*миксин свойств вложенных блоков*/
/*миксин для правой стрелки*/
/* миксин свойств для оформления текста в кнопке*/
/*миксин заголовка h3 */
/*миксин свойства формы*/
/*миксин свойств контента блоков*/
/*общие свойства карточек*/
/* свойства изображения */
.number-card__img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* основной заголовок */
.number-card-header__h1 {
  position: absolute;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  color: #1f2041;
  font-size: 24px;
  line-height: 29px;
  width: 61px;
  height: 24px;
  left: 20px;
  top: 171px;
  padding-top: 3px;
  font-size: 14px;
  line-height: 17.07px;
}

/* свойства № */
.number-card-header__span {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 23.75px;
  color: #1f2041;
}

/* свойства параграфа люкс */
.number-card-p__luxury {
  position: absolute;
  width: 41px;
  height: 15px;
  left: 87px;
  top: 178px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #bc9cff;
}

/* цена за сутки */
.number-card-price-per-day {
  position: absolute;
  top: 175px;
  left: 153px;
  height: 20px;
  width: 101px;
}

.number-card-price-per-day__p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: rgba(31, 32, 65, 0.5);
  white-space: nowrap;
}

.number-card-per-day__span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
}

/* звёзды */
.number-card-stars {
  position: absolute;
  left: 20.26px;
  bottom: 19px;
  height: 24px;
  width: 120px;
}

.number-card-stars__star1 {
  position: absolute;
  width: 24px;
  height: 24px;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  left: 0px;
}

.number-card-stars__star2 {
  position: absolute;
  width: 24px;
  height: 24px;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  left: 24px;
}

.number-card-stars__star3 {
  position: absolute;
  width: 24px;
  height: 24px;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  left: 48px;
}

.number-card-stars__star4 {
  position: absolute;
  width: 24px;
  height: 24px;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  left: 72px;
}

.number-card-stars__star5 {
  position: absolute;
  width: 24px;
  height: 24px;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  left: 96px;
}

.hover:hover {
  background-image: url(../img/star.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* отзывы */
.number-card__reviews {
  position: absolute;
  width: 90px;
  height: 18px;
  left: 166px;
  top: 217.56px;
}

.number-card-reviews__p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: rgba(31, 32, 65, 0.5);
}

span {
  font-weight: normal;
  text-align: right;
}

/* шарики */
.number-card__ellipce1 {
  position: absolute;
  width: 7.5px;
  height: 7.49px;
  top: 129px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 5px 5px rgba(31, 32, 65, 0.3));
          filter: drop-shadow(0px 5px 5px rgba(31, 32, 65, 0.3));
  border: none;
  background: #ffffff;
  left: 218px;
}

.number-card__ellipce2 {
  position: absolute;
  width: 7.5px;
  height: 7.49px;
  top: 129px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 5px 5px rgba(31, 32, 65, 0.3));
          filter: drop-shadow(0px 5px 5px rgba(31, 32, 65, 0.3));
  left: 228px;
}

.number-card__ellipce3 {
  position: absolute;
  width: 7.5px;
  height: 7.49px;
  top: 129px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 5px 5px rgba(31, 32, 65, 0.3));
          filter: drop-shadow(0px 5px 5px rgba(31, 32, 65, 0.3));
  left: 238px;
}

.number-card__ellipce4 {
  position: absolute;
  width: 7.5px;
  height: 7.49px;
  top: 129px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 5px 5px rgba(31, 32, 65, 0.3));
          filter: drop-shadow(0px 5px 5px rgba(31, 32, 65, 0.3));
  left: 248px;
}

/* вперед назад */
.number-card_expand-more-left {
  background-image: url(../img/expand_more_left.svg);
  position: absolute;
  width: 44px;
  height: 44px;
  top: 54px;
  left: 0px;
  background-repeat: no-repeat;
  background-position: center;
}

.number-card_expand-more-right {
  background-image: url(../img/expand_more_rieght.svg);
  position: absolute;
  width: 44px;
  height: 44px;
  top: 54px;
  right: 0px;
  background-repeat: no-repeat;
  background-position: center;
}

/*горизонтальная полоса*/
.straight {
  position: absolute;
  width: 230px;
  height: 1px;
  left: 20px;
  top: 205px;
  background: rgba(31, 32, 65, 0.1);
}
/*# sourceMappingURL=general-properties-rooms.css.map */