include ../../modules/mixins/mixin_dropdown
include ../../modules/mixins/mixin_room_cards
include ../../modules/mixins/mixin_reviews
include ../../modules/mixins/mixin_list
include ../../modules/mixins/mixin_menu



block variables

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Material+Icons') 
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        title= titlePage
        style 
            block style 
    body 
        block content