@import "fonts.scss";

/*миксин текста копирайта*/

@mixin copyright-text {
  position: absolute;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
}

/*миксин заголовков h2*/

@mixin landing-h2 {
  position: absolute;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
  color: #1f2041;
}

/* миксин свойства заголовков*/
@mixin headers {
  position: absolute;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  color: #1f2041;
  font-size: 24px;
  line-height: 29px;
}

/* маркер */

@mixin circle {
  position: absolute;
  width: 10.43px;
  height: 10px;
  left: 0px;
  background: rgba(31, 32, 65, 0.25);
  border-radius: 10px;
  margin-bottom: 24px;
}

/*миксин кнопок дропдауна +*/

@mixin circle-plus {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  box-sizing: border-box;
  border-radius: 22px;
  cursor: pointer;
}

/*миксин кнопок дропдауна -*/

@mixin circle-minus {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 22px;
}

/*миксин блока навигации/регистрации/футера/копирайта*/

@mixin navigation {
  position: absolute;
  width: 1440px;
  left: 0px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 10px 20px 0px rgba(31, 32, 65, 0.05);
}

/*миксин кнопок*/

@mixin button {
  position: absolute;
  background: linear-gradient(rgba(188, 156, 255, 1), rgba(139, 164, 249, 1));
  border-radius: 22px;
  height: 44px;
  width: 320px;
  text-transform: uppercase;
  text-decoration: none;
}

/*миксин маленьких кнопок*/

@mixin button_mini {
  position: absolute;
  width: 95px;
  height: 40px;
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(rgba(188, 156, 255, 1), rgba(139, 164, 249, 1)) border-box;
  border: 2px solid transparent;
  border-radius: 22px;
  text-transform: uppercase;
  text-decoration: none;
  color: #bc9cff;
}

/*свойства пунктов меню*/

@mixin menu {
  font-family: "Montserrat";
  text-decoration: none;
  padding-right: 20px;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
  margin-bottom: 12px;
}

/* дни недели */

@mixin days-week {
  font-family: "Montserrat";
  position: absolute;
  top: 74px;
  height: 39px;
  width: 37px;
  color: #bc9cff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
}

/* счётчики */

@mixin counter {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: #1f2041;
  display: flex;
  height: 15px;
  width: 92px;
  right: 7px;
  align-items: center;
  justify-content: center;
  position: absolute;
}

/* свойства изображения expand more*/
@mixin expand_more {
  position: absolute;
  width: 44px;
  height: 44px;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(31, 32, 65, 0.5);
  cursor: pointer;
}

@mixin paragraf2 {
  position: absolute;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #000000;
}

/*миксин для placeholder*/
@mixin input-placeholder {
  height: 18px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
}

@mixin right_text {
  height: 15px;
  position: absolute;
  left: 262.74px;
  top: 0px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  color: rgba(31, 32, 65, 0.5);
  text-transform: uppercase;
}

/* общие свойства для input w 318*/
@mixin input-max {
  width: 318px;
  height: 42px;
  position: absolute;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 2px;
  padding-left: 15px;
}

/* общие свойства для input w 266*/
@mixin input-medium {
  width: 266px;
  height: 44px;
  position: absolute;
  background: #ffffff;
  box-sizing: border-box;
  left: 0px;
  box-sizing: border-box;
  padding-left: 15px;
}

/*миксин свойст для полей w 150*/

@mixin input-mini {
  padding-left: 15px;
  position: absolute;
  width: 150px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
}

/*сердце*/

@mixin favorite {
  position: absolute;
  width: 20px;
  height: 20px;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(31, 32, 65, 0.25);
}

/*счётчик лайков*/

@mixin like-count {
  position: absolute;
  width: 6px;
  height: 13px;
  left: 22px;
  top: 3px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
}

/*миксин параграф*/

@mixin paragraf {
  position: absolute;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

/*mixin для рамки checkbox*/

@mixin border {
  position: absolute;
  left: 0px;
  width: 40px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
}

/*шарики*/

@mixin ellipce {
  position: absolute;
  width: 7.5px;
  height: 7.49px;
  top: 129px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  filter: drop-shadow(0px 5px 5px rgba(31, 32, 65, 0.3));
}

/*звёзды*/

@mixin stars {
  position: absolute;
  width: 24px;
  height: 24px;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

/*миксин карточек*/

@mixin cards {
  position: absolute;
  width: 270px;
  height: 257px;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
}

/*миксин свойств вложенных блоков*/

@mixin pagination {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 31.44px;
}

/*миксин для правой стрелки*/

@mixin arrow_forvard {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  position: absolute;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* миксин свойств для оформления текста в кнопке*/
@mixin text-link {
  position: absolute;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  color: #bc9cff;
}

/*миксин заголовка h3 */

@mixin headers3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1f2041;
}

/*миксин свойства формы*/

@mixin form {
  position: absolute;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/*миксин свойств контента блоков*/

@mixin pagination-p {
  position: absolute;
  top: 12px;
  left: 17px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

@mixin icon-details {
  position: absolute;
  left: 0px;
  width: 48px;
  height: 48px;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 41px;
  display: flex;
  align-items: center;
  text-align: center;
}

@mixin text-details {
  height: 48px;
  width: 233px;
  left: 58px;
  position: absolute;
}
