/*миксин текста копирайта*/

@mixin copyright-text {
  position: absolute;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(31, 32, 65, 0.75);
}

/* миксин свойства заголовков*/
@mixin headers {
  position: absolute;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  color: #1f2041;
}

/*миксин кнопок дропдауна +*/

@mixin circle-plus {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  box-sizing: border-box;
  border-radius: 22px;
  cursor: pointer;
}

/*миксин кнопок дропдауна -*/

@mixin circle-minus {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  cursor: pointer;

  box-sizing: border-box;
  border-radius: 22px;
}

/*миксин блока навигации/регистрации/футера/копирайта*/

@mixin navigation {
  position: absolute;
  width: 1440px;
  left: 0px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 10px 20px 0px rgba(31, 32, 65, 0.05);
}

/*миксин кнопок*/

@mixin button {
  display: inline-block;
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(rgba(188, 156, 255, 1), rgba(139, 164, 249, 1)) border-box;
  border: 2px solid transparent;
  border-radius: 22px;
  font-family: Montserrat;
  margin-right: 20px;
  height: 34px;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
  color: #bc9cff;
}

/*свойства пунктов меню*/

@mixin menu {
  font-family: 'Montserrat';
  text-decoration: none;
  padding-right: 20px;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
  margin-bottom: 12px;
}

/* дни недели */

@mixin days-week {
  position: absolute;
  top: 74px;
  height: 39px;
  width: 37px;
  color: #bc9cff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
}

/* счётчики */

@mixin counter {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: #1f2041;
  display: flex;
  height: 15px;
  width: 92px;
  left: 221px;
  align-items: center;
  justify-content: center;
  position: absolute;
}

/* свойства изображения expand more*/
@mixin expand_more {
  width: 44px;
  height: 44px;
  position: absolute;
  left: 222px;
  top: 20px;
  cursor: pointer;
}

/*кнопки +/- */
@mixin circle-plus {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  box-sizing: border-box;
  border-radius: 22px;
  cursor: pointer;
}

@mixin circle-minus {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 22px;
}
