extends ../modules/templates/sample
block variables 
  - var titlePage = 'Cards'
block style 
  include ../styles/colors-type/logo.css
  include ../styles/cards/account_login.css
  include ../styles/cards/search-room.css
  include ../styles/cards/account_registration.css
  include ../styles/cards/searching_results.css
  include ../styles/cards/number_card840.css
  include ../styles/cards/number_card888.css
  include ../styles/cards/calendar.css
block content
  include ../modules/colors-type/logo
  include ../modules/cards/account_login
  include ../modules/cards/account_registration
  include ../modules/cards/search_room
  include ../modules/cards/searching_results
  include ../modules/cards/number_card840
  include ../modules/cards/number_card888
  include ../modules/cards/calendar