doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Colors-type
    style 
      include ../styles/colors-type/logo.css
      include ../styles/colors-type/block-square.css
      include ../styles/colors-type/block-headers-body.css
  body
    include ../modules/colors-type/logo
    include ../modules/colors-type/block-square
    include ../modules/colors-type/block-headers-body
