extends ../modules/templates/sample
block variables 
  - var titlePage = 'Colors/Type'
block style       
  include ../styles/colors-type/logo.css
  include ../styles/colors-type/block-square.css
  include ../styles/colors-type/block-headers-body.css
block content
  include ../modules/colors-type/logo
  include ../modules/colors-type/block-square
  include ../modules/colors-type/block-headers-body
