doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Material+Icons')
    title Form Elements
    style 
      include ../styles/colors-type/logo.css  
      include ../styles/form-elements/footer.css
      include ../styles/form-elements/form-elements.css

      include ../styles/form-elements/buttons/pagination.css
      include ../styles/form-elements/buttons/block-buttons.css
      include ../styles/form-elements/buttons/slider.css
      include ../styles/form-elements/buttons/checkbox-button.css
      include ../styles/form-elements/buttons/radio-button.css
      include ../styles/form-elements/buttons/toogle.css
      include ../styles/form-elements/buttons/like-button.css
      include ../styles/form-elements/buttons/rate-button.css
      include ../styles/form-elements/buttons/rich-checkbox.css
      include ../styles/form-elements/buttons/checkbox-list-default-expanded.css
      
      include ../styles/form-elements/fields/date.css
      include ../styles/form-elements/fields/dropdown.css
      include ../styles/form-elements/fields/masked-text-field.css
      include ../styles/form-elements/fields/subscription.css
      include ../styles/form-elements/fields/text-field-default.css
      include ../styles/form-elements/fields/text-field-hover-focus.css
      
      
      include ../styles/form-elements/dropdown/dropdown default.css
      include ../styles/form-elements/dropdown/dropdown-expanded.css
      include ../styles/form-elements/dropdown/bullet-list.css
      include ../styles/form-elements/dropdown/dropdown-gast-empty.css
      include ../styles/form-elements/dropdown/dropdown-gast-filled-in.css
  body
    form.elments(action="#") 
      include ../modules/colors-type/logo
      include ../modules/form-elements/buttons 
      include ../modules/form-elements/dropdowns
      include ../modules/form-elements/fields
      include ../modules/form-elements/radio-checkbox
      include ../modules/form-elements/footer