doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Material+Icons')
    title Document
    style 
      include ../styles/colors-type/logo.css  
      include ../styles/form-elements/button.css
      include ../styles/form-elements/dropdowns.css
      include ../styles/form-elements/fields.css
      include ../styles/form-elements/radio-checkbox.css
      include ../styles/form-elements/footer.css
      include ../styles/form-elements/form-elements.css
  body
    form.elments(action="#") 
      include ../modules/colors-type/logo
      include ../modules/form-elements/buttons 
      include ../modules/form-elements/dropdowns
      include ../modules/form-elements/fields
      include ../modules/form-elements/radio-checkbox
      include ../modules/form-elements/footer