extends ../modules/templates/sample
block variables 
  - var titlePage = 'Headers/Footers'
  
block style 
  include ../styles/colors-type/logo.css
  include ../styles/headers-footers/nav-reg.css
  include ../styles/headers-footers/nav.css
  include ../styles/headers-footers/footer.css
  include ../styles/headers-footers/footer-mobile.css
  include ../styles/headers-footers/icon.css
  include ../styles/headers-footers/copyright.css
block content
  include ../modules/colors-type/logo
  include ../modules/headers-footers/nav-reg
  include ../modules/headers-footers/nav
  include ../modules/headers-footers/footer
  include ../modules/headers-footers/copyright
  include ../modules/headers-footers/footer-mobile
    
    
    
    